﻿@charset "UTF-8";
html, body {
  margin: 0;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  overflow-x: hidden; }

.container {
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s; }

h1, h2, h3, h4 {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 700; }

a:focus,
a:hover {
  color: #f39600; }

.btn {
  border-radius: 2em;
  padding: 0.5em 1.25em;
  padding: 1em 2em; }

.btn-info {
  background-color: #B1D5D7;
  border-color: #B1D5D7;
  border: 0; }

.btn-transparent {
  background-color: transparent;
  border-color: #fff;
  border-color: currentColor;
  border-width: 2px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .btn-transparent:after {
    padding-left: 1em;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f178"; }
  .btn-transparent:hover {
    color: #999; }
  .btn-group .btn-transparent:after {
    display: none; }
  .btn-group .btn-transparent:last-child {
    border-left: none;
    margin-left: -4px; }

.breadcrumb {
  border-radius: 0;
  background: none;
  color: #fff;
  padding-top: 1em;
  margin: 2px -15px; }
  .breadcrumb a {
    color: #fff; }

.flickity-viewportÂ  {
  -webkit-transition: height .5s;
  -o-transition: height .5s;
  transition: height .5s; }

.flickity-prev-next-button {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
  color: #fff; }
  .flickity-prev-next-button .arrow {
    fill: #fff; }
  .flickity-prev-next-button.previous {
    left: 0; }
  .flickity-prev-next-button.next {
    right: 0; }
  .flickity-prev-next-button:hover {
    background: rgba(255, 255, 255, 0.75); }

.mainlogo {
  position: absolute;
  top: 2em;
  left: 2em;
  display: block;
  z-index: 10; }
  .mainlogo img {
    width: 100%;
    max-width: 8em;
    height: auto; }
  .mainlogo .mainlogo-black {
    display: none; }
  .dark-logo .mainlogo .mainlogo-white {
    display: none; }
  .dark-logo .mainlogo .mainlogo-black {
    display: block; }

.mainheader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; }

/*
.menu-active {
	overflow: hidden;
}
*/
.menu-toggle,
.menu-phone,
.menu-search,
.menu-contact {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
  background: #f39600;
  color: #fff;
  border-radius: 1.5em;
  -webkit-box-shadow: 0 0.25em 0.25em #666;
  box-shadow: 0 0.25em 0.25em #666;
  -webkit-box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.2);
  margin: 1em 1em 0 0;
  text-align: center;
  -webkit-transition: all .25s linear;
  -o-transition: all .25s linear;
  transition: all .25s linear; }
  .menu-toggle .fa,
  .menu-phone .fa,
  .menu-search .fa,
  .menu-contact .fa {
    font-size: 1.5em;
    line-height: 2em;
    width: 2em;
    text-align: center; }
  .menu-toggle:hover,
  .menu-phone:hover,
  .menu-search:hover,
  .menu-contact:hover {
    cursor: pointer;
    background: #da8600; }
  @media (min-width: 996px) {
    .menu-toggle,
    .menu-phone,
    .menu-search,
    .menu-contact {
      margin: 2em 2em 0 0; } }
  @media (min-width: 1200px) {
    .menu-toggle,
    .menu-phone,
    .menu-search,
    .menu-contact {
      /*	margin: 3em 3em 0 0; */
      font-size: 1.5em; } }
  .menu-active .menu-toggle, .menu-active
  .menu-phone, .menu-active
  .menu-search, .menu-active
  .menu-contact {
    background: #77A2A6;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .menu-active .menu-toggle:hover, .menu-active
    .menu-phone:hover, .menu-active
    .menu-search:hover, .menu-active
    .menu-contact:hover {
      cursor: pointer;
      background: #68979c; }

.menu-contact {
  margin-top: 6em;
  border-radius: 0;
  margin-right: 0;
  top: 20em; }
  .menu-contact:hover {
    background: #f39600;
    width: 20em; }
    .menu-contact:hover i {
      color: #fff; }
    .menu-contact:hover p {
      opacity: 1;
      float: left;
      -webkit-transition: all .33s ease-in;
      -o-transition: all .33s ease-in;
      transition: all .33s ease-in;
      position: relative; }
  .menu-contact.active {
    width: 20em;
    -webkit-box-shadow: none;
    box-shadow: none;
    top: 0; }
    .menu-contact.active p {
      opacity: 1;
      float: left;
      -webkit-transition: all .33s ease-in;
      -o-transition: all .33s ease-in;
      transition: all .33s ease-in;
      position: relative; }
  .menu-contact a {
    display: block;
    width: 100%;
    height: 100%; }
  .menu-contact p {
    display: inline-block;
    opacity: 0;
    line-height: 3em;
    text-align: left;
    color: #fff;
    position: absolute;
    width: 100px; }
  .menu-contact i.fa {
    color: #fff;
    display: inline-block;
    float: left; }
    .menu-contact i.fa:before {
      display: inline-block; }
  @media (min-width: 768px) {
    .menu-active .menu-contact {
      display: none; } }

.frontpage-form {
  display: none;
  height: 0;
  -webkit-transition: all .33s ease-in;
  -o-transition: all .33s ease-in;
  transition: all .33s ease-in;
  padding: 0;
  background: #f39600;
  width: 100%;
  margin-top: 6em;
  position: fixed;
  top: 7em;
  right: 0;
  transition: all .33s ease-in; }
  .frontpage-form.active {
    display: inline;
    height: auto;
    padding: 1em;
    width: 30em;
    padding-right: 3em;
    z-index: 999;
    -webkit-transition: all .33s ease-in;
    -o-transition: all .33s ease-in;
    transition: all .33s ease-in; }
    .frontpage-form.active form input {
      height: auto;
      padding: 1em;
      opacity: 1; }
  .frontpage-form form input {
    height: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: all .33s ease-in;
    -o-transition: all .33s ease-in;
    transition: all .33s ease-in; }
  .frontpage-form form .icon {
    background: #f39600; }
  .frontpage-form form .btn-info {
    color: #fff;
    background: #f39600;
    border: 3px solid #fff;
    -webkit-transition: all .33s ease-in;
    -o-transition: all .33s ease-in;
    transition: all .33s ease-in; }
    .frontpage-form form .btn-info:hover {
      color: #f39600;
      background: #fff; }
  .frontpage-form .receiptmessage {
    font-size: 1.3em;
    color: #fff;
    -webkit-transition: all .33s ease-in;
    -o-transition: all .33s ease-in;
    transition: all .33s ease-in; }

.menu-search,
.menu-phone {
  opacity: 0;
  right: 0; }
  .menu-active .menu-search, .menu-active
  .menu-phone {
    opacity: 1;
    right: 4em; }

.menu-active .menu-search {
  right: 8em; }

.menu-search input {
  opacity: 0;
  position: absolute;
  background: transparent;
  border: 0;
  top: 0;
  left: 0;
  height: 3em;
  width: 13em;
  padding: 0 1em;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  outline: none; }

.menu-search .fa {
  float: right; }

.menu-search.active {
  width: 16em; }
  .menu-search.active input {
    opacity: 1; }

.nav-dropdown {
  position: fixed;
  top: 0%;
  right: -100%;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #B1D5D7;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translate(0, 0) scale(1);
  -ms-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  -webkit-box-shadow: 0px 0px 0px #000;
  box-shadow: 0px 0px 0px #000;
  -webkit-transition: all .33s ease-in;
  -o-transition: all .33s ease-in;
  transition: all .33s ease-in;
  /*	@media(min-width: 992px){
		.nav-wrapper {
			ul:after {
				content: "";
				float: none; 
				clear: both;
			}
			li {
				float: left;
				width: 33%;
			}
		}
	} */ }
  @media (min-width: 768px) {
    .nav-dropdown {
      -webkit-transform: skew(10deg, 0deg) translate(200px, 0) scale(1.2);
      -ms-transform: skew(10deg, 0deg) translate(200px, 0) scale(1.2);
      transform: skew(10deg, 0deg) translate(200px, 0) scale(1.2); } }
  @media (min-width: 1200px) {
    .nav-dropdown {
      -webkit-transform: skew(15deg, 0deg) translate(400px, 0) scale(1.2);
      -ms-transform: skew(15deg, 0deg) translate(400px, 0) scale(1.2);
      transform: skew(15deg, 0deg) translate(400px, 0) scale(1.2); } }
  .nav-dropdown .logo {
    display: block;
    margin: 1.5em auto 1.5em 1em;
    max-width: 12em;
    -webkit-transition: margin .2s ease-in;
    -o-transition: margin .2s ease-in;
    transition: margin .2s ease-in; }
    @media (min-width: 768px) {
      .nav-dropdown .logo {
        max-width: 16em;
        margin: 1em auto; } }
    @media (min-width: 996px) {
      .nav-dropdown .logo {
        margin: 2em auto; } }
    @media (min-width: 1200px) {
      .nav-dropdown .logo {
        margin: 4em auto; } }
  @media (min-width: 769px) {
    .menu-hover .nav-dropdown {
      -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
      -webkit-transform: skew(0deg, 0deg) translate(0, 0) scale(1.1);
      -ms-transform: skew(0deg, 0deg) translate(0, 0) scale(1.1);
      transform: skew(0deg, 0deg) translate(0, 0) scale(1.1); } }
  .menu-active .nav-dropdown {
    top: 0%;
    right: 0%;
    -webkit-transform: skew(0deg, 0) translate(0, 0) scale(1);
    -ms-transform: skew(0deg, 0) translate(0, 0) scale(1);
    transform: skew(0deg, 0) translate(0, 0) scale(1);
    height: 100%; }
    @media (min-width: 769px) {
      .menu-active .nav-dropdown {
        max-width: 80vw;
        -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5); } }
  .nav-dropdown ul {
    padding: 0;
    list-style: none; }
  .nav-dropdown a {
    color: inherit; }
  .nav-dropdown .nav-wrapper {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 1.2em 0;
    margin-bottom: 2em; }
    .nav-dropdown .nav-wrapper li {
      padding: 0.25em 0; }
    .nav-dropdown .nav-wrapper.prodnav-wrapper {
      border: none; }
      @media (min-width: 769px) {
        .nav-dropdown .nav-wrapper.prodnav-wrapper {
          text-align: center;
          padding-top: 0; } }
      .nav-dropdown .nav-wrapper.prodnav-wrapper a.level1 {
        display: none; }
      .nav-dropdown .nav-wrapper.prodnav-wrapper a.level2 {
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 1em;
        display: block; }
        @media (min-width: 769px) {
          .nav-dropdown .nav-wrapper.prodnav-wrapper a.level2 {
            display: none; } }
      .nav-dropdown .nav-wrapper.prodnav-wrapper ul.level1 {
        padding: 0 1em; }
        @media (min-width: 769px) {
          .nav-dropdown .nav-wrapper.prodnav-wrapper ul.level1 {
            padding: 0; } }
      .nav-dropdown .nav-wrapper.prodnav-wrapper ul.level2 {
        margin-bottom: 1em; }
        @media (min-width: 769px) {
          .nav-dropdown .nav-wrapper.prodnav-wrapper ul.level2 {
            padding: 0 1em 0 4em;
            text-align: left; } }
        @media (min-width: 1200px) {
          .nav-dropdown .nav-wrapper.prodnav-wrapper ul.level2 {
            padding: 0 1em 0 6em; } }
      .nav-dropdown .nav-wrapper.prodnav-wrapper ul.level3 {
        text-transform: uppercase;
        padding: 0.5em 0 0 1em; }
  @media (max-width: 768px) {
    .nav-dropdown .nav-wrapper {
      font-size: 1.1em; }
      .nav-dropdown .nav-wrapper li {
        padding: 0; }
        .nav-dropdown .nav-wrapper li a {
          padding: 0.25em; } }
  .nav-dropdown .social {
    margin-top: 1em;
    font-size: 1.5em; }
    .nav-dropdown .social .fa {
      margin: 0 0.25em; }
  @media (min-width: 996px) {
    .nav-dropdown .prodgroup-nav {
      padding: 5em 0 2em 0; } }
  .nav-dropdown .prodgroup-nav img {
    position: relative;
    max-width: 100%;
    height: auto;
    top: 0;
    -webkit-transition: top .5s ease-in;
    -o-transition: top .5s ease-in;
    transition: top .5s ease-in; }
    .nav-dropdown .prodgroup-nav img:before {
      content: "";
      display: block; }
  .nav-dropdown .prodgroup-nav .prodgroup {
    text-align: center;
    padding: 2em 0; }
    @media (min-width: 769px) {
      .nav-dropdown .prodgroup-nav .prodgroup {
        padding: 2em 0 0 0; } }
  .nav-dropdown .prodgroup-nav .img-wrapper {
    position: relative;
    min-height: 9em; }
    .nav-dropdown .prodgroup-nav .img-wrapper:after {
      bottom: 0em;
      left: 0;
      content: "";
      position: absolute;
      width: 100%;
      height: 2em;
      border-radius: 50%;
      background-image: -webkit-radial-gradient(ellipse, rgba(0, 0, 0, 0.1) 0%, transparent 50%);
      background-image: -o-radial-gradient(ellipse, rgba(0, 0, 0, 0.1) 0%, transparent 50%);
      background-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.1) 0%, transparent 50%);
      z-index: -1;
      opacity: 1;
      -webkit-transition: opacity .5s ease-in, -webkit-transform .5s ease-in;
      transition: opacity .5s ease-in, -webkit-transform .5s ease-in;
      -o-transition: transform .5s ease-in, opacity .5s ease-in;
      transition: transform .5s ease-in, opacity .5s ease-in;
      transition: transform .5s ease-in, opacity .5s ease-in, -webkit-transform .5s ease-in; }
  .nav-dropdown .prodgroup-nav h4 {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    -webkit-transition: font-size .2s ease-in;
    -o-transition: font-size .2s ease-in;
    transition: font-size .2s ease-in; }
  .nav-dropdown .prodgroup-nav a {
    text-decoration: none; }
  @media (min-width: 768px) {
    .nav-dropdown .prodgroup-nav h4 {
      font-size: 1.2em;
      margin-top: 1.5em; } }
  @media (min-width: 996px) {
    .nav-dropdown .prodgroup-nav .img-wrapper:hover img {
      top: -1em; }
    .nav-dropdown .prodgroup-nav .img-wrapper:hover:after {
      /*					bottom: -1em;*/
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      opacity: 0.5; } }

.nav-overlay {
  position: fixed;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0%;
  right: 0%;
  z-index: 98;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: opacity .33s ease-in;
  -o-transition: opacity .33s ease-in;
  transition: opacity .33s ease-in; }
  .menu-active .nav-overlay {
    pointer-events: all;
    opacity: 1; }

.carousel-main {
  margin-bottom: 1em; }
  .carousel-main .carousel-content {
    position: relative;
    margin: 0 -15px; }
    .carousel-main .carousel-content .download {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: #FFF;
      color: #666;
      padding: 0.5em 0.75em;
      -webkit-transition: background-color .2s;
      -o-transition: background-color .2s;
      transition: background-color .2s; }
      .carousel-main .carousel-content .download:hover {
        background-color: #eee; }
    .carousel-main .carousel-content .expand {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 3em;
      text-align: center;
      width: 2em;
      height: 2em;
      line-height: 2em;
      margin: -1em 0 0 -1em;
      color: #000;
      -webkit-transition: opacity .2s, -webkit-transform .2s;
      transition: opacity .2s, -webkit-transform .2s;
      -o-transition: opacity .2s, transform .2s;
      transition: opacity .2s, transform .2s;
      transition: opacity .2s, transform .2s, -webkit-transform .2s; }
      .carousel-main .carousel-content .expand .fa {
        line-height: 2em; }
    .carousel-main .carousel-content:hover .expand {
      opacity: 0.66;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
      .carousel-main .carousel-content:hover .expand:hover {
        opacity: 1;
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2); }

.carousel-nav {
  margin: 0; }
  .carousel-nav .thumb {
    padding: 0 0.3em; }
    .carousel-nav .thumb img {
      margin: 0 auto; }


.carousel-nav .flickity-slider {
	left: -6px !important;
}

/*
.flickity-slider .thumb:nth-child(1) {
	margin-left: -6px;
}

.flickity-slider .thumb:nth-child(2) {
	margin-left: -5px;
}

.flickity-slider .thumb:nth-child(3) {
	margin-left: -4px;
}

.flickity-slider .thumb:nth-child(4) {
	margin-left: -3px;
}

.flickity-slider .thumb:nth-child(5) {
	margin-left: -2px;
}

.flickity-slider .thumb:nth-child(6) {
	margin-left: -1px;
}

*/



.navbar {
  text-align: center; }

.navbar-nav {
  text-align: center;
  display: inline-block;
  float: none; }
  .navbar-nav > li {
    text-transform: uppercase;
    border-bottom: 2px solid #666; }
    .navbar-nav > li a {
      color: inherit;
      padding: 1em 2em;
      -webkit-transition: color .2s;
      -o-transition: color .2s;
      transition: color .2s; }
      .navbar-nav > li a:focus, .navbar-nav > li a:hover, .navbar-nav > li a.active:hover {
        background-color: inherit;
        color: #f39600;
        cursor: pointer; }
      .navbar-nav > li a.active {
        color: #333;
        font-weight: bold; }

.panel {
  overflow-y: hidden;
  margin: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height .2s linear, opacity .2s linear;
  -o-transition: max-height .2s linear, opacity .2s linear;
  transition: max-height .2s linear, opacity .2s linear; }
  .panel.active {
    opacity: 1;
    max-height: 100em;
    max-height: 100rem;
    margin-bottom: 3em; }
    .panel.active#panel-material {
      max-height: 300em; }
    .panel.active#panel-downloads {
      padding-top: 3em; }
    .panel.active#panel-specs h3 {
      margin-top: 1em; }
  .panel .panel {
    margin: 0;
    padding: 0;
    background: #eee;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    position: absolute;
    left: 0;
    z-index: 95;
    width: 100%; }
    .panel .panel p {
      text-align: left; }
    .panel .panel .variation p {
      text-align: center; }
    .panel .panel.active {
      margin: 0 0 2em 0;
      padding: 2em 0 1em 0;
      -webkit-box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25);
      box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25); }

.page.page-product {
  padding: inherit; }
  .page.page-product h1 {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.5em;
    margin: 0.5em 0;
    text-align: left; }
  .page.page-product header {
    padding: 5em 0 2em 0; }
    .page.page-product header .price {
      text-align: center; }
      @media (min-width: 992px) {
        .page.page-product header .price {
          text-align: right; } }
      .page.page-product header .price h3 {
        margin: 0.25em 0;
        font-weight: 300; }
    .page.page-product header .buttons {
      text-align: center; }
      @media (min-width: 992px) {
        .page.page-product header .buttons {
          text-align: left; } }
    .page.page-product header .btn {
      color: #333;
      font-weight: 700;
      padding: 0.5em 1.25em;
      margin-bottom: 1em; }
      .page.page-product header .btn.btn-dealer {
        padding: 0.66em 1.25em 0.5em 1.25em; }
        .page.page-product header .btn.btn-dealer:after {
          content: "\f07a"; }
      .page.page-product header .btn.btn-contact {
        padding: 0.66em 1.25em 0.5em 1.25em; }
        @media (max-width: 767px) {
          .page.page-product header .btn.btn-contact.mobile-button {
            display: inline-block !important; } }
        .page.page-product header .btn.btn-contact:after {
          content: "\f003"; }
        @media (max-width: 767px) {
          .page.page-product header .btn.btn-contact.mobile-button:after {
            content: "\f095"; } }
  @media (min-width: 992px) {
    .page.page-product h1 {
      margin: 0; }
    .page.page-product header {
      background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(40%, #fff), color-stop(40%, #eee), to(#eee));
      background-image: -webkit-linear-gradient(left, #fff 0%, #fff 40%, #eee 40%, #eee 100%);
      background-image: -o-linear-gradient(left, #fff 0%, #fff 40%, #eee 40%, #eee 100%);
      background-image: linear-gradient(to right, #fff 0%, #fff 40%, #eee 40%, #eee 100%);
      padding: 5em 0; }
      .page.page-product header .text-wrapper {
        max-width: 36em;
        margin: 0 auto; } }
  .page.page-product .panel h3 {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 1em; }
  .page.page-product .panel .variation {
    padding-top: 1em;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    min-height: 13em; }
    .page.page-product .panel .variation p {
      text-transform: uppercase; }
    .page.page-product .panel .variation img {
      margin: 0 auto 1em auto; }
    .page.page-product .panel .variation.has-options {
      cursor: pointer; }
      .page.page-product .panel .variation.has-options:hover {
        background-color: #f9f9f9; }
    .page.page-product .panel .variation.active:hover, .page.page-product .panel .variation.active {
      background-color: #eee; }
  .page.page-product .panel .download {
    text-align: center; }
  .page.page-product .panel#panel-specs img {
    margin: 0 0 1.5em 0; }
  .page.page-product .panel#panel-specs.active {
    max-height: 500em; }
  .page.page-product .btn-group {
    margin: 0 auto;
    color: #666; }
    .page.page-product .btn-group:hover .btn-transparent {
      color: #999; }
  .page.page-product .vargroup {
    margin-top: 3em; }
  .page.page-product .relatedproducts {
    text-align: center; }
    .page.page-product .relatedproducts h2 {
      font-size: 2.66em;
      line-height: 1.33;
      margin: 1.5em 0;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.5em;
      font-weight: 800;
      color: #666; }
    .page.page-product .relatedproducts .product {
      display: inline-block;
      text-decoration: none;
      padding: 0 1em; }

.page.page-text {
  padding-bottom: 5em; }
  .page.page-text header {
    text-align: center;
    padding: 8em 0;
    color: #fff;
    background-color: #77A2A6; }
    .page.page-text header h1 {
      font-size: 2.5em;
      letter-spacing: 0.2em;
      text-transform: uppercase; }
    @media (min-width: 768px) {
      .page.page-text header {
        padding: 15em 0; }
        .page.page-text header h1 {
          font-size: 3em;
          letter-spacing: 0.5em; } }
  .page.page-text .breadcrumb {
    border-radius: 0;
    border: none;
    background: none;
    color: #aaa;
    padding: 1em 15px; }
    .page.page-text .breadcrumb a {
      color: #aaa;
      text-decoration: none; }
      .page.page-text .breadcrumb a:hover {
        color: #333; }
  .page.page-text .sidebar h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.5em; }
  .page.page-text .sidebar ul {
    color: #666;
    font-weight: 500;
    list-style: none;
    letter-spacing: 0.1em;
    padding: 0; }
    .page.page-text .sidebar ul a {
      color: inherit;
      text-decoration: none; }
      .page.page-text .sidebar ul a:hover {
        color: #333; }
    .page.page-text .sidebar ul li {
      padding: 0.5em 0; }
      .page.page-text .sidebar ul li:before {
        content: "- "; }
    .page.page-text .sidebar ul li li {
      padding: 1em 0 0 0; }
      .page.page-text .sidebar ul li li:before {
        content: "- - "; }
  .page.page-text .content h1, .page.page-text .content h2, .page.page-text .content h3, .page.page-text .content h4 {
    text-transform: uppercase;
    margin-bottom: 0.5em; }
  .page.page-text .content h1 {
    font-size: 1.75em; }
  .page.page-text .content h2 {
    font-size: 1.5em; }
  .page.page-text .content h3 {
    font-size: 1.25em; }
  .page.page-text .content h4 {
    font-size: 1.1em; }
  .page.page-text .content p {
    margin-bottom: 1.5em; }

section {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  padding: 1em 0;
  /*	background-color: rgba(200,100,50,0.5);
	color: #fff;*/ }
  section:first-child {
    margin-top: 0 !important;
    padding-top: 0 !important; }
  section h1, section h2, section h3 {
    margin: 0 0 1em 0;
    text-transform: uppercase; }
  section a {
    color: currentColor; }
  section header h1 {
    font-size: 3.5em;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    margin: 0;
    text-align: center; }
    @media (max-width: 767px) {
      section header h1 {
        font-size: 1.5em;
      	padding-top: 100px !important;
     	margin: 0 !important; } }
  section .content {
    position: absolute;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    section .content .logo {
      margin-bottom: 2em;
      max-width: 20em;
      -webkit-transition: max-width .5s;
      -o-transition: max-width .5s;
      transition: max-width .5s; }
      @media (min-width: 768px) {
        section .content .logo {
          max-width: 30em !important; } }
  section.header {
    padding: 8em 0;
    margin-bottom: 3em;
    background-color: none; }
    section.header.header-clean {
      padding: 2em 0; }
    section.header h1, section.header h2 {
      text-align: center;
      margin: 0.5em 0;
      font-size: 2.5em;
      letter-spacing: 0.2em; }
    @media (min-width: 768px) {
      section.header {
        padding: 10em 0; }
        section.header h1, section.header h2 {
          font-size: 3.5em;
          letter-spacing: 0.5em; 
      	  padding-top: 50px; } }
    section.header a {
      color: inherit; }
  section.fullscreen {
    min-height: 40em;
    min-height: 100vh; }
    section.fullscreen .img-box {
      position: absolute;
      right: 0;
      background-size: cover;
      background-position: 50% 50%;
      height: 100%;
      width: 100%;
      top: 0%;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      @media (min-width: 992px) {
        section.fullscreen .img-box {
          height: 90%;
          width: 75%;
          top: 5%; } }
    section.fullscreen .scroll-indicator {
      position: absolute;
      bottom: 3em;
      width: 6em;
      margin-left: -3em;
      left: 50%;
      cursor: pointer;
      -webkit-transition: -webkit-transform 0.2s ease-in;
      transition: -webkit-transform 0.2s ease-in;
      -o-transition: transform 0.2s ease-in;
      transition: transform 0.2s ease-in;
      transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in; }
      section.fullscreen .scroll-indicator p {
        text-align: center;
        text-transform: uppercase; }
      section.fullscreen .scroll-indicator:after {
        content: "";
        display: block;
        position: relative;
        left: 2.25em;
        width: 1em;
        height: 1em;
        border-bottom: 1px solid currentColor;
        border-right: 1px solid currentColor;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      section.fullscreen .scroll-indicator:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2); }
  section.reference-list {
    padding: 1em 0 0 0;
    min-height: 0; }
    section.reference-list h1 {
      text-align: center; }
    section.reference-list > header {
      padding: 12em 0;
      margin-bottom: 3em;
      background-color: #FFF7B4; }
    section.reference-list .reference {
      text-align: center;
      font-size: 0.9em;
      padding-top: 2em;
      padding-bottom: 2em; }
      section.reference-list .reference img {
        margin: 0 auto 2em auto; }
    section.reference-list h3 {
      font-size: 1.33em;
      margin: 0.5em 0;
      text-transform: uppercase; }
    section.reference-list .readmore {
      font-weight: bold;
      text-transform: uppercase; }
    @media (min-width: 992px) {
      section.reference-list .container-fluid > .row {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(66%, #fff), color-stop(66%, #FFF7B4), to(#FFF7B4));
        background-image: -webkit-linear-gradient(top, #fff 0%, #fff 66%, #FFF7B4 66%, #FFF7B4 100%);
        background-image: -o-linear-gradient(top, #fff 0%, #fff 66%, #FFF7B4 66%, #FFF7B4 100%);
        background-image: linear-gradient(to bottom, #fff 0%, #fff 66%, #FFF7B4 66%, #FFF7B4 100%); } }
  section.reference {
    min-height: 0;
    padding-top: 0; }
    section.reference h1 {
      letter-spacing: 0.5em;
      font-size: 2em;
      font-weight: 800;
      margin: 1em 0 0 0; }
    section.reference h3 {
      margin-top: 2em;
      font-size: 1.5em;
      font-weight: 800; }
    @media (min-width: 992px) {
      section.reference .text-wrapper {
        max-width: 42em;
        margin: 0 auto; } }
    section.reference .banner {
      padding: 0 0 5em 0; }
      @media (min-width: 992px) {
        section.reference .banner {
          background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(40%, #fff), color-stop(40%, #FFF7B4), to(#FFF7B4));
          background-image: -webkit-linear-gradient(left, #fff 0%, #fff 40%, #FFF7B4 40%, #FFF7B4 100%);
          background-image: -o-linear-gradient(left, #fff 0%, #fff 40%, #FFF7B4 40%, #FFF7B4 100%);
          background-image: linear-gradient(to right, #fff 0%, #fff 40%, #FFF7B4 40%, #FFF7B4 100%);
          padding: 5em 0; } }
    section.reference .relatedproducts {
      text-align: center; }
      section.reference .relatedproducts h2 {
        font-size: 2.66em;
        line-height: 1.33;
        margin: 1.5em 0;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.5em;
        font-weight: 800;
        color: #666; }
      section.reference .relatedproducts .product {
        display: inline-block;
        text-decoration: none;
        padding: 0 1em; }
  section.download-list {
    padding-top: 0; }
    section.download-list header {
      background: #F7BBAF;
      color: #fff;
      margin-bottom: 5em; }
    section.download-list .btn-group {
      margin: 0 auto; }
      section.download-list .btn-group:hover .btn-transparent {
        color: #999; }
    section.download-list .filter {
      cursor: pointer; }
    section.download-list .download {
      text-align: center;
      min-height: 34em; }
      section.download-list .download .img-wrapper {
        position: relative;
        width: 100%;
        min-height: 16em; }
        @supports ((-webkit-transform: translate(-50%, -50%)) or (transform: translate(-50%, -50%))) {
          section.download-list .download .img-wrapper {
            padding-top: 100%;
            min-height: 0; }
            section.download-list .download .img-wrapper img {
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              max-width: 100%;
              max-height: 100%; } }
      section.download-list .download h3 {
        font-size: 1.5em;
        margin: 1em 0 0.5em 0; }
  section.dealer-list {
    padding-top: 0; }
    section.dealer-list header {
      background: #B1A3B8;
      color: #fff;
      padding: 15em 0;
      margin-bottom: -10em; }
    section.dealer-list h2 {
      margin: 1em auto 0.5em auto;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      font-size: 2em;
      text-align: left; }
      @media (min-width: 996px) {
        section.dealer-list h2 {
          font-size: 3.5em;
          text-align: center; } }
    section.dealer-list .gm-style-iw,
    section.dealer-list .dealer {
      min-height: 18em; }
      section.dealer-list .gm-style-iw h4,
      section.dealer-list .dealer h4 {
        text-transform: uppercase; }
      section.dealer-list .gm-style-iw .link,
      section.dealer-list .dealer .link {
        text-transform: uppercase;
        font-weight: bold; }
    section.dealer-list .gm-style-iw .dealer {
      padding: 1em; }
  section.product-list {
    padding-top: 0; }
    section.product-list > header {
      padding: 8em 0;
      margin-bottom: 5em;
      color: #fff;
      background: #f39600; }
      section.product-list > header h1 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        font-size: 2.5em;
        letter-spacing: 0.2em; }
      @media (min-width: 768px) {
        section.product-list > header {
          padding: 10em 0; }
          section.product-list > header h1 {
            font-size: 3.5em;
            letter-spacing: 0.5em; } }
    section.product-list .product {
      text-align: center;
      min-height: 15em; }
      section.product-list .product img {
        margin: 0 auto; }
      section.product-list .product p {
        margin: 0.5em 0; }
  section.product-slider .slider-wrapper {
    max-width: 100em;
    margin: 0 auto; }
  section.product-slider .product {
    z-index: 100;
    padding: 12em 0 24em 0;
    -webkit-transition: z-index .1s ease-in, -webkit-transform .5s ease-in;
    transition: z-index .1s ease-in, -webkit-transform .5s ease-in;
    -o-transition: transform .5s ease-in, z-index .1s ease-in;
    transition: transform .5s ease-in, z-index .1s ease-in;
    transition: transform .5s ease-in, z-index .1s ease-in, -webkit-transform .5s ease-in; }
    section.product-slider .product .box {
      position: relative;
      padding-top: 100%;
      background: #B1A3B8;
      -webkit-box-shadow: 0 0 0.5em 0em rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 0.5em 0em rgba(0, 0, 0, 0.5);
      -webkit-transition: -webkit-box-shadow .5s ease-in;
      transition: -webkit-box-shadow .5s ease-in;
      -o-transition: box-shadow .5s ease-in;
      transition: box-shadow .5s ease-in;
      transition: box-shadow .5s ease-in, -webkit-box-shadow .5s ease-in; }
    section.product-slider .product:nth-child(3n) .box {
      background: #AF7C94; }
    section.product-slider .product:nth-child(3n+1) .box {
      background: #85768D; }
    section.product-slider .product .title {
      text-transform: uppercase;
      color: #fff;
      font-size: 1.5em;
      line-height: 1;
      margin: 0;
      letter-spacing: 0.5em;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1em;
      z-index: 100; }
    section.product-slider .product .product-image {
      position: absolute;
      width: 100%;
      bottom: -5em;
      left: 0; }
    section.product-slider .product .text {
      font-size: 0.8em;
      padding: 5em 0 1em 0;
      text-align: center;
      opacity: 0;
      position: absolute;
      top: 100%;
      width: 100%;
      -webkit-transition: opacity .25s linear;
      -o-transition: opacity .25s linear;
      transition: opacity .25s linear; }
      section.product-slider .product .text p {
        max-width: 36em;
        margin: 1em auto; }
      section.product-slider .product .text .link {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #333; }
    @media (min-width: 768px) {
      section.product-slider .product {
        /*	.text{ 	font-size: 1em; } */ }
        section.product-slider .product .title {
          font-size: 2em; } }
    section.product-slider .product.is-selected {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      z-index: 105; }
      section.product-slider .product.is-selected .box {
        -webkit-box-shadow: 0 0 3em 0em rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 3em 0em rgba(0, 0, 0, 0.5); }
      section.product-slider .product.is-selected .text {
        opacity: 1; }
  section.employee-list {
    padding: 5em 0; }
    section.employee-list header h1 {
      margin-bottom: 1.5em; }
    section.employee-list .employee {
      text-align: center;
      margin-bottom: 1em; }
      section.employee-list .employee .img-wrapper {
        position: relative;
        text-align: center; }
        section.employee-list .employee .img-wrapper img {
          margin: 0 auto; }
        section.employee-list .employee .img-wrapper .alt-img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: contain;
          -webkit-transition: opacity .2s ease-in;
          -o-transition: opacity .2s ease-in;
          transition: opacity .2s ease-in; }
		section.employee-list .employee .img-wrapper:focus .alt-img {
			opacity: 1;	}
		section.employee-list .employee .img-wrapper:visited .alt-img {
			opacity: 1;	}
		section.employee-list .employee .img-wrapper:active .alt-img {
			opacity: 1;	}
        section.employee-list .employee .img-wrapper:hover .alt-img {
          opacity: 1; }
      section.employee-list .employee h4 {
        font-size: 1.33em;
        text-transform: uppercase;
        margin: 1em 0 0.25em 0; }
      section.employee-list .employee .title {
        text-transform: uppercase; }
      section.employee-list .employee .title,
      section.employee-list .employee .phone,
      section.employee-list .employee .mail {
        margin: 0.25em 0; }
      section.employee-list .employee .mail {
        font-weight: bold; }
  section.links {
    padding: 0 0;
    margin: 3em 0; }
    section.links .link {
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
      min-height: 30em;
      background-color: #B1A3B8; }
      section.links .link:nth-child(3n) {
        background-color: #AF7C94; }
      section.links .link:nth-child(3n+1) {
        background-color: #85768D; }
      section.links .link.has-image:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.5; }

.search-result a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.5em 1em;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }
  .search-result a:hover {
    background: #eee; }

footer {
  text-align: center;
  color: #666;
  font-size: 0.8em;
  padding: 2em 0;
  border-top: 1px solid #eee; }
  footer a {
    color: currentColor;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s; }
    footer a:hover {
      text-decoration: none;
      color: #f39600; }
  footer ul {
    list-style: none;
    padding: 1em 0;
    margin: 2em 0; }
  footer li {
    display: inline-block;
    margin: 0 1em;
    font-size: 1.33em;
    font-weight: bold;
    text-transform: uppercase;
    color: #000; }
  footer .social {
    font-size: 3em;
    margin: 0.75em 0;
    color: #000; }
    footer .social a {
      margin: 0 0.5em; }
  footer .logo {
    max-width: 9em;
    margin: 2em auto 1em auto; }

@-webkit-keyframes hover {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); }
  25% {
    -webkit-transform: rotate(5deg) translate(-5px, 3px);
    transform: rotate(5deg) translate(-5px, 3px); }
  40% {
    -webkit-transform: rotate(-2deg) translate(4px, -3px);
    transform: rotate(-2deg) translate(4px, -3px); }
  60% {
    -webkit-transform: rotate(4deg) translate(-4px, 2px);
    transform: rotate(4deg) translate(-4px, 2px); }
  75% {
    -webkit-transform: rotate(-5deg) translate(3px, -5px);
    transform: rotate(-5deg) translate(3px, -5px); }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); } }

@keyframes hover {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); }
  25% {
    -webkit-transform: rotate(5deg) translate(-5px, 3px);
    transform: rotate(5deg) translate(-5px, 3px); }
  40% {
    -webkit-transform: rotate(-2deg) translate(4px, -3px);
    transform: rotate(-2deg) translate(4px, -3px); }
  60% {
    -webkit-transform: rotate(4deg) translate(-4px, 2px);
    transform: rotate(4deg) translate(-4px, 2px); }
  75% {
    -webkit-transform: rotate(-5deg) translate(3px, -5px);
    transform: rotate(-5deg) translate(3px, -5px); }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    transform: rotate(0deg) translate(0, 0); } }

.product-description {
  text-align: center;
  margin-top: 1em;
  margin-bottom: -1em; }

#sections img {
  max-width: 100%;
  height: auto !important; }


/* --- When asNavFor doesn't work --- */ 
/*
.thumb:nth-child(7), .thumb:nth-child(8), .thumb:nth-child(9), .thumb:nth-child(10), .thumb:nth-child(11), .thumb:nth-child(12), .thumb:nth-child(13), .thumb:nth-child(14), .thumb:nth-child(15), 
.thumb:nth-child(16), .thumb:nth-child(17), .thumb:nth-child(18), .thumb:nth-child(19), .thumb:nth-child(20), .thumb:nth-child(21), .thumb:nth-child(22), .thumb:nth-child(23), .thumb:nth-child(24)   {
	margin-top: 10px;
}
*/

.is-nav-selected {
  opacity: 0.5;
}

.no-padding {
  margin: 0px;
}
/* .expand {
	position: absolute;
    right: 20px;
    bottom: 20px;
} */

form[action="/Admin/Public/404.aspx"] {
	margin-left: 30px;
}

@media screen and (min-width: 768px) {
	section.reference .text-wrapper p {
      column-count: 2;
  }
}

.hover_trigger {
	width: 20em;
	background: #f39600;
    box-shadow: 0 0 5px #696969;
}

.hover_trigger p {
	opacity: 1;
	float: left;
	-webkit-transition: all .33s ease-in;
	-o-transition: all .33s ease-in;
	transition: all .33s ease-in;
	position: relative;
}