﻿@MasterPageFile("master.cshtml")
@GetValue("Layout.Title(Title)")
@GetValue("Layout.Description(Description)")

<div id="sections" class="dwcontent" title="Sektioner" settings="default:true;"></div>
<div class="container">
	<div class="row">
		<div id="sections-left" class="col-xs-12 col-md-6 dwcontent" title="Sektioner (Venstre)"></div>
		<div id="sections-right" class="col-xs-12 col-md-6 dwcontent" title="Sektioner (HÃ¸jre)"></div>
	</div>
</div>
<div id="sections-bottom" onclick="void(0)" class="dwcontent" title="Sektioner (Bund)"></div>

<div id="map" style="min-height: 500px;"></div>


<script>


function initMap() {

	var center = new google.maps.LatLng(57.0231310,9.8951300);

	var directionsDisplay;
	var directionsService 	= new google.maps.DirectionsService();
	var	CurrentLocation 	= center;
	var map;

	directionsDisplay 	= new google.maps.DirectionsRenderer({
		suppressMarkers: true, 
		polylineOptions: new google.maps.Polyline({
		    strokeColor: '#FFFFFF',
		    strokeOpacity: 0.9,
		    strokeWeight: 5
		})
	});

	var mapOptions = {
		zoom: 14,
		disableDefaultUI: true,
		scrollwheel: false,
		disableDoubleClickZoom: false,
		draggable: false, 
		panControl: false,
		zoomControl: false,
		ZoomControlStyle: 'small',	
		center: center,
		styles: [
			{"featureType":"water","elementType":"geometry","stylers":[{"color":"#dadada"},{"lightness":30}]},
			{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},
			{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},
			{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},
			{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},
			{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},
			{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},
			{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},
			{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},
			{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},
			{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},
			{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},
			{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},
			{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}
		]
	};

	var mapElement = document.getElementById('map');
	var map = new google.maps.Map(mapElement, mapOptions);

	var geocoder = new google.maps.Geocoder();
	var image = 'http://rumas2016.dw9.dynamicweb-cms.com/files/templates/designs/Rumas/images/googlemaps-pin.png';

	var bounds = new google.maps.LatLngBounds();

	var RumasMarker = new google.maps.Marker({
	    position: new google.maps.LatLng(57.0231310,9.8951300),
	    title: 'Rumas A/S',
	    animation: google.maps.Animation.DROP,
	    map: map,
	    icon: image
	});

//	map.fitBounds(bounds);
	map.panBy(160,0);

};


function errorHandler(err) {
  if(err.code == 1) {
    console.error("Fejl: Positionering ikke tiladt");
  } else if( err.code == 2) {
    console.error("Fejl: Position ikke tilgÃ¦ngelig");
  }
}


//google.maps.event.addDomListener(window, 'load', init);


</script>
<script type="text/javascript" async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBacR94r42NaqUCjJYhPMcebU0Kq3uShWE&callback=initMap"></script>