﻿@MasterPageFile("master.cshtml")
@GetValue("Layout.Title(Title)")
@GetValue("Layout.Description(Description)")

<div id="sections" class="dwcontent" title="Sektioner" settings="default:true;">
	
</div>

<div id="variations" class="variations dwcontent" title="Variationer" settings="template:clean.cshtml">
	
</div>
