﻿@MasterPageFile("master.cshtml")
@GetValue("Layout.Title(Title)")
@GetValue("Layout.Description(Description)")

@{
	string image = GetString("Item.Billeder.Value");
	string[] images = image.Split(',');
	int imgIndex = 0;

}
<section class="reference text-dark">
	
<div class="banner">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				@if(images.Count() > 0) {
				<div class="carousel-main row" data-flickity='{ "wrapAround": true, "imagesLoaded": true, "adaptiveHeight": true, "pageDots": false }'>
					@foreach(String url in images) {
					<div class="carousel-cell col-xs-12" data-url="@url">
						<div class="carousel-content">
							<img src="@url" class="img-responsive" />
							<a class="expand" href="@url" data-lightbox="gallery"><i class="fa fa-expand" aria-hidden="true"></i></a>
							<a class="download" href="@url" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
						</div>
					</div>
					}
				</div>
				<div class="row">
					<div class="carousel-nav" data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "imagesLoaded": true, "prevNextButtons": false }'>
					@foreach(String url in images) {
						<div class="thumb col-xs-3 col-sm-2">
							<img data-index="@imgIndex" src="/admin/public/getimage.ashx?Image=@url&Format=jpg&Width=120&Height=80" class="img-responsive" />
						</div>
						imgIndex++;
					}
					</div>
				</div>
				}
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="text-wrapper">
					<h1>Reference</h1>
					<h3>@GetString("Item.Titel.Value")</h3>
					<p>@GetString("Item.Beskrivelse.Value").Replace(Environment.NewLine, "<br />")</p>
				</div>
			</div>
		</div>
	</div>
</div>


@if( GetLoop("Item.Produkter.Value").Count() > 0) {
<div class="relatedproducts">
	<div class="container">
		<h2>Anvendte<br>produkter</h2>
	</div>

	<div class="container">
		<div class="row">
		@foreach(LoopItem product in GetLoop("Item.Produkter.Value") ) {
			string productLink 	= product.GetString("Ecom:Product.Link.Clean");
			string imgUrl 		= product.GetString("Ecom:Product.ImageLarge.Clean");
			if (!String.IsNullOrEmpty(productLink)) {
				productLink = productLink.Replace("?ID=7&","?ID=9&");
			}
		<div class="product col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
			<a  href='@productLink'>
				@if (!String.IsNullOrEmpty(imgUrl)) {
				<img src="/admin/public/getimage.ashx?Image=@imgUrl&Format=jpg&Height=200" class="img-responsive" />
				}
				<p>@product.GetString("Ecom:Product.Name")</p>
			</a>
		</div> 

		}
		</div>
	</div>
</div>
}


</section>

<div id="sections" class="dwcontent" title="Sektioner" settings="default:true;"></div>
