<!--@MasterPageFile(master.cshtml)-->
@GetValue("Layout.Title(Title)")
@GetValue("Layout.Description(Description)")

@{
	string txtColor = GetString("Item.Page.Tekstfarve.Value");
	string bgColor = GetString("Item.Page.Baggrundsfarve.Value");
	string headerStyle = "";
	string pageClass = "";
	if( !String.IsNullOrEmpty(txtColor) ) {
		headerStyle += " color:"+txtColor+";";
	}
	if( !String.IsNullOrEmpty(bgColor) ) {
		headerStyle += " background-color:"+bgColor+";";
	}
	if (txtColor.Contains("000000") ) {
		pageClass += " text-dark";
	}

}

<div class="page page-text @pageClass">
	<header style="@headerStyle">
		<h1>@GetString("DwPageName")</h1>
	</header>
	<div class="container">
		<div class="breadcrumb">
			<a href="/">Forside</a> 
			@if(!String.IsNullOrEmpty("DwPageID_1")) {
			<text>/ <a href='/Default.aspx?ID=@GetString("DwPageID_1")'>@GetString("DwPageName_1")</a></text>
			}
			@if(!String.IsNullOrEmpty("DwPageID_2")) {
			<text>/ <a href='/Default.aspx?ID=@GetString("DwPageID_2")'>@GetString("DwPageName_2")</a></text>
			}
		</div>

		<div class="row">
			<div class="sidebar col-xs-12 col-md-3">
				<h3>@GetString("DwPageName_1")</h3>
				<ul id="sidebar-nav" class="navigation dwnavigation" settings="startlevel:2;endlevel:3;template:ul_li.xslt;expandmode:path;">
					<li></li>
				</ul>
			</div>
			<div class="content col-xs-12 col-md-9">
				<div id="sections" class="dwcontent" title="Sektioner" settings="default:true;"></div>
			</div>
		</div>

	</div>
</div>

<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Values)));</script>