@{
	string formCssClass = GetString("Form.CssClass");
	string formSystemFields = GetString("Form.SystemFields");
	bool formLabelBold = GetBoolean("Form.LabelBold");
	bool formLabelOverField = GetBoolean("Form.LabelOverField");
	string formId = GetString("Form.HtmlId");
	string formOnSubmit = GetString("Form.OnSubmit");
	string formSpamScript = GetString("Form.SpamScript");
	string formAction = GetString("Form.Action");
	int formColumnShiftFormFieldID = GetInteger("Form.ColumnShiftFormFieldID");
	string formLabelRequired = GetString("Form.LabelRequired");

	int formMaxSubmits = GetInteger("Form.MaxSubmits");
	int formSubmitCount = GetInteger("Form.SubmitCount");
}


@{
	if (formMaxSubmits > 0 && formSubmitCount >= formMaxSubmits) {
		@GetString("Form.MaxSubmitsReachedText")
	} else {
	<style>
	.form .form-row {
		margin-bottom: 1em;
	}
	.form .form-control {
		border-radius: 0;
		min-height: 3.5em;
		background-color: #eee;
		color: #000;
		border: 0;
		box-shadow: none;
	}
	.form .icon {
		font-size: 2em;
		color: #fff;
		background-color: #A8D3B0;
		width: 2em;
		height: 2em;
		line-height: 2em;
		text-align: center;
		float: right;
	}
	.form textarea.form-control {
		padding: 1em;
		min-height: 8em;
	}
	.form .CheckBoxList {
		padding: 1em;
		background-color: #eee;
		color: #000;
	}
	.form .Submit {
		text-align: center;
	}
	.form h5 {
		margin-top: 0.25em;
	}
	</style>
		<div class="frontpage-form">
			<form method="post" action="@formAction" enctype="multipart/form-data" class="" id="@formId" onsubmit="@formOnSubmit">
				@formSystemFields
				<div class="form">
					@if (formColumnShiftFormFieldID > 0) {
						@GetStartTable();
					}

					@foreach (LoopItem field in GetLoop("Fields")) {
						string fieldType = field.GetString("Field.Type");
						int fieldId = field.GetInteger("Field.ID");
						string fieldHtmlId = field.GetString("Field.HtmlId");
						string fieldName = field.GetString("Field.Name");
						string fieldControl = field.GetString("Field.Control");
						string fieldDescription = field.GetString("Field.Description");
						bool fieldIsButton = field.GetBoolean("Field.IsButton");
						bool fieldIsOther = field.GetBoolean("Field.IsOther");
						bool fieldRequired = field.GetBoolean("Field.Required");					

						string requiredImage = string.Empty;
						if (fieldRequired && !String.IsNullOrEmpty(formLabelRequired)) {
							requiredImage = String.Format("<img src=\"/Files/images/{0}\">", formLabelRequired);
						}
						<div class="row form-row">
							<div class="col-xs-2">
								<div class="row">
								@if (!fieldIsButton && !fieldIsOther) {
									<div class="icon">
									@if (fieldHtmlId == "Telefon") {
										<i class="fa fa-mobile" aria-hidden="true"></i>
									} else if (fieldHtmlId == "Navn") {
										<i class="fa fa-user" aria-hidden="true"></i>
									} else if (fieldHtmlId == "Mail") {
										<i class="fa fa-envelope" aria-hidden="true"></i>
									} else if (fieldHtmlId == "Besked") {
										<i class="fa fa-comment" aria-hidden="true"></i>
									} else {
										<i class="fa fa-question" aria-hidden="true"></i>
									}
									</div>
								}
								</div>
							</div>
							<div class="col-xs-10">
								<div class="row">
									<div class="@fieldType">
									@if (fieldType == "CheckBoxList") {
										<h5>@fieldName @requiredImage</h5>
									}

				  @*      if (!fieldIsButton && !fieldIsOther) {
							<label for="@fieldHtmlId">@fieldName @requiredImage</label>
						} *@
						@fieldControl
						@fieldDescription
				
									</div>	
								</div>
							</div>
						</div>

						if (formColumnShiftFormFieldID == fieldId) {
							@GetShiftColumn();
						}
					}
					@if (formColumnShiftFormFieldID > 0) {
						@GetEndTable();
					}
				</div>
			</form>
			<div class="hide receiptmessage">
				<p>Tak for din besked!</p>
				<p>Vi vender tilbage hurtigst muligt og max inden 1 arbejdsdag.</p>
				<p>Ha' en rigtig dejlig dag :-)</p>
			</div>
		</div>
	}
}


@functions {
	private string GetStartTable() {
		return "<tr><td class=\"columnCell\"><table class=\"firstColumn\">";
	}

	private string GetShiftColumn() {
		return "</table></td><td class=\"columnCell\"><table class=\"secondColumn\">";
	}

	private string GetEndTable() {
		return "</table></td></tr>";
	}
}