﻿@{
	string pagename = "Produkter";
	if (!String.IsNullOrEmpty( GetString("Ecom:Group.Name") )) {
		pagename = GetString("Ecom:Group.Name");
	}

}
<section class="product-slider">
	<div class="slider-wrapper" data-flickity='{ "autoPlay": 2500, "imagesLoaded": true, "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": false, "pageDots": false }'>
	@foreach(LoopItem product in GetLoop("Products")) {
		string designer = product.GetString("Ecom:Product:Field.DesignerName");
		string boxStyle = "";
		string imgUrl = product.GetString("Ecom:Product.ImageLarge.Clean");
		if (!String.IsNullOrEmpty( product.GetString("Ecom:Product:Field.Farve.Value.Clean") )) {
			boxStyle = "background-color:"+product.GetString("Ecom:Product:Field.Farve.Value.Clean")+";";
		}
		<div class="product col-xs-8 col-sm-6 col-md-4" >
			<div class="box" style="@boxStyle" >
				<h4 class="title">@product.GetString("Ecom:Product.Name")</h4>
				@if(!String.IsNullOrEmpty( imgUrl )) {
					imgUrl = imgUrl.Replace("&Width=256&Height=256", "&Width=480&Height=480");
					<img src="@imgUrl" class="product-image img-responsive" />
				}
				<div class="text">
					@product.GetString("Ecom:Product.ShortDescription.Raw")
					@if (!String.IsNullOrEmpty(designer)){
					<p class="designer"><small>Design: @designer</small></p>
					}
					<a class="link" href='@product.GetString("Ecom:Product.Link.Clean")'>Se Produkt</a>
				</div>
			</div>
		</div>
	}
	</div>
</section>