﻿@{
	string pagename = "Produkter";
	string description = "";
	if (!String.IsNullOrEmpty( GetString("Ecom:Group.Name") )) {
		pagename = GetString("Ecom:Group.Name");
	}
	if (!String.IsNullOrEmpty( GetString("Ecom:Group.MetaDescription") )) {
		description = GetString("Ecom:Group.MetaDescription");
	}

}


<section class="product-list">

	<header>
		<h1>@pagename</h1>
		@if (!String.IsNullOrEmpty( GetString("Ecom:Group.Name") )) {
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<p class="product-description">@description</p>
					</div>
				</div>					
			</div>
		}
	</header>

	<div class="container">
		<div class="row">
		@foreach(LoopItem product in GetLoop("Products")) {
			string imgUrl = product.GetString("Ecom:Product.ImageLarge.Clean");

<!--
<pre>
Ecom:Product.ImageSmall.Clean: 	@product.GetString("Ecom:Product.ImageSmall.Clean")<br/>
Ecom:Product.ImageMedium.Clean: @product.GetString("Ecom:Product.ImageMedium.Clean")<br/>
Ecom:Product.ImageLarge.Clean: 	@product.GetString("Ecom:Product.ImageLarge.Clean")
</pre>
-->
          <div class="product col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
				<a href='@product.GetString("Ecom:Product.Link.Clean")'>
					@if(!String.IsNullOrEmpty( imgUrl )) {
					//	imgUrl = imgUrl.Replace("&Width=256&Height=256", "&Height=100");
						imgUrl = "/admin/public/getimage.ashx?Image="+ imgUrl +"&Format=jpg&Height=200";
						<img src='@imgUrl' class="img-responsive" />
					}
					<p>@product.GetString("Ecom:Product.Name")</p>
				</a>
			</div>
		}
		</div>
	</div>

</section>