$rumasYellow: 		#FFF7B4;
$rumasOrange: 		#f39600;
$rumasPeach: 		#F7BBAF;
$rumasMint: 		#B1D5D7;
$rumasTurquoise: 	#77A2A6;
$rumasPink: 		#AF7C94;
$rumasGrape:		#85768D;
$rumasPearl:		#B1A3B8;
$productDescMargin:	1em;

html, body {
	margin: 0;
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
    overflow-x: hidden;
}

.container {
	transition: width .5s;
}

h1, h2, h3, h4 {
	font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	font-style: normal;
	font-weight: 700;
}

a:focus, 
a:hover {
	color: $rumasOrange;
}

.btn {
	border-radius: 2em;
	padding: 0.5em 1.25em;
    padding: 1em 2em;
}
.btn-info {
	background-color: #B1D5D7;
	border-color: #B1D5D7;
	border: 0;
}
.btn-transparent {
	background-color: transparent;
	border-color: #fff;
	border-color: currentColor;
	border-width: 2px;
	transition: all .2s;
	&:after {
		padding-left: 1em;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	    content: "\f178";
	}
	&:hover {
		color: #999;
	}
	.btn-group & {
		&:after {
			display: none;
		}
		&:last-child {
			border-left: none;
		    margin-left: -4px;
		}
	}
}

.breadcrumb {
	border-radius: 0;
//	border-bottom: 1px solid #fff;
	background: none;
	color: #fff;
	padding-top: 1em;
    margin: 2px -15px;
	a {
		color: #fff;
	}
}

.flickity-viewport {
	transition: height .5s;
}

.flickity-prev-next-button {
	border-radius: 0;
	background: hsla(0, 0%, 100%, 0.5);
	color: #fff;
	.arrow {
		fill: #fff;
	}
	&.previous {
		left: 0;
	}
	&.next {
		right: 0;
	}
	&:hover {
		background: hsla(0, 0%, 100%, 0.75);
	}
}


.mainlogo {
	position: absolute;
	top: 2em;
	left: 2em;
	display: block;
	z-index: 10;
	img {
		width: 100%;
		max-width: 8em;
		height: auto;
	}
	.mainlogo-black {
		display: none;
	}
	.dark-logo &{
		.mainlogo-white {
			display: none;
		}
		.mainlogo-black {
			display: block;
		}
	}
}

.mainheader {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

}
/*
.menu-active {
	overflow: hidden;
}
*/
.menu-toggle,
.menu-phone,
.menu-search,
.menu-contact {
	position: absolute;
    top: 0;
    right: 0;
	width: 3em;
	height: 3em;
	background: $rumasOrange;
	color: #fff;
//	border-radius: 50%;
	border-radius: 1.5em;
	box-shadow: 0 0.25em 0.25em #666;
	box-shadow: 0 0.25em 0.25em rgba(0,0,0,.2);
	margin: 1em 1em 0 0;
	text-align: center;

	transition: all .25s linear; 
	.fa {
		font-size: 1.5em;
		line-height: 2em;
		width: 2em;
		text-align: center;
	}
	&:hover {
		cursor: pointer;
		background: darken($rumasOrange, 5%);
	}
	@media(min-width: 996px) {
		margin: 2em 2em 0 0;
	}
	@media(min-width: 1200px) {
	/*	margin: 3em 3em 0 0; */
		font-size: 1.5em;
	}
	.menu-active & {
		background: $rumasTurquoise;
		color: #fff;
		box-shadow: none;
		&:hover {
			cursor: pointer;
			background: darken($rumasTurquoise, 5%);
		}
	}
}

.menu-contact {
    margin-top: 6em;    
    border-radius: 0;    
    margin-right: 0;    
    top: 20em;

    &:hover {
    	background: $rumasOrange;
    	width: 20em;

    	i {
    		color:#fff;
    	}
    	p {
    		opacity: 1;
    		float: left;
    		transition: all .33s ease-in;
    		position: relative;
    	}
    }

    &.active {
    	width: 20em;
    	box-shadow:none;
    	top: 0;  
    	p {    		
    		opacity: 1;
    		float: left;
    		transition: all .33s ease-in;
    		position: relative;
    	}  	
    }    

    a {    	
		display: block;
		width: 100%;
		height: 100%;
    }

    p {
    	display: inline-block;
    	opacity: 0;   
    	line-height: 3em;
    	text-align: left; 	
    	color: #fff;
    	position: absolute;
    	width: 100px
    }
    
	i.fa {
		color: #fff;
		display: inline-block;
    	float: left;

    	&:before {
    		display: inline-block;
    	}
	}
	@media(min-width: 768px) {
		.menu-active & {
			display: none;
		}
	}
	
	
}
.frontpage-form {
	display: none;
	height:0;
	transition: all .33s ease-in;
	padding: 0;
	background: $rumasOrange;
	width: 100%;
	margin-top: 6em;    
    position: fixed;
    top: 7em;
    right: 0;
    transition: all .33s ease-in;

		
	&.active {
		display: inline;
		height: auto;
		padding: 1em;
		width: 30em;
		padding-right: 3em;
		z-index: 999;
		transition: all .33s ease-in;

		& form input {
			height: auto;
			padding: 1em;
			opacity: 1;
		}
	}
	& form input {
		height: 0;
		padding: 0;
		opacity: 0;
		transition: all .33s ease-in;
	}

	& form .icon {
		background: $rumasOrange;
	}

	& form .btn-info {
		color: #fff;
		background: $rumasOrange; 
		border: 3px solid #fff;
		transition: all .33s ease-in;

		&:hover {
			color: $rumasOrange;
			background: #fff;
		}
	}

	.receiptmessage {
		font-size: 1.3em;
    	color: #fff;
    	transition: all .33s ease-in;
	}

}
.menu-search,
.menu-phone {
	opacity: 0;
	right: 0;
	.menu-active & {
		opacity: 1;
		right: 4em;
	}
}
.menu-active .menu-search {
	right: 8em;
}
.menu-search {
	input{
		opacity: 0;
		position: absolute;
		background: transparent;
		border: 0;
		top: 0;
		left: 0;
		height: 3em;
    	width: 13em;
    	padding: 0 1em;
    	transition: opacity .2s;
    	outline: none;
	}
	.fa {
		float: right;
	}
	&.active {
		width: 16em;
		input {
			opacity: 1;
		}
	}
}

.nav-dropdown {
	position: fixed;
	top: 0%;
	right: -100%;
	height: 100%;
	width: 100%;
	color: #fff;
	background-color: $rumasMint;
	z-index: 99;

	overflow-x: hidden;
	overflow-y: auto;
	transform: translate(0, 0) scale(1);
	box-shadow: 0px 0px 0px #000;




	@media(min-width: 768px) {
		transform: skew(10deg, 0deg) translate(200px, 0) scale(1.2);
	//	transform: scale(1.1);
	}
	@media(min-width: 1200px) {
		transform: skew(15deg, 0deg) translate(400px, 0) scale(1.2);

	}

//	transition: bottom .33s ease-in, transform .33s ease-in, height .33s ease-in;
	transition: all .33s ease-in;
	.logo{
	    display: block;
		margin: 1.5em auto 1.5em 1em;
		max-width: 12em;
		transition: margin .2s ease-in;
		@media(min-width: 768px) {
			max-width: 16em;
			margin: 1em auto;
		}
		@media(min-width: 996px) {
			margin: 2em auto;
		}
		@media(min-width: 1200px) {
			margin: 4em auto;
		}
	}
	@media(min-width: 769px){
		.menu-hover & {
//			right: -90%;
//			transform: skew(10deg, 0deg) translate(0, 0) scale(1.1);
			box-shadow: 0px 0px 15px rgba(0,0,0,.5);
			transform: skew(0deg, 0deg) translate(0, 0) scale(1.1);
		}

	}
	.menu-active & {
		top: 0%;
		right: 0%;
	//	transform: translate(0, 0) skew(0deg, 0deg) scale(1);
		transform: skew(0deg, 0) translate(0, 0) scale(1);
	//	transform: scale(1);
		height: 100%;
		@media(min-width: 769px){
			max-width: 80vw;
			box-shadow: 0px 0px 30px rgba(0,0,0,.5);
		}
	}	
	ul {
	//	font-size: 1.2em;
		padding: 0;
		list-style: none;
	}
	a {
		color: inherit;
	}
	.nav-wrapper {
		border-top: 1px solid #fff;
		border-bottom: 1px solid #fff;
		padding: 1.2em 0;
		margin-bottom: 2em;
		li {
			padding: 0.25em 0;
		}
		&.prodnav-wrapper {
			border: none; 
			@media (min-width: 769px) {
				text-align: center;
				padding-top: 0;
			}
			a.level1{
				display: none;
			}
			a.level2 {
				text-transform: uppercase;
				font-weight: bold;
				margin-top: 1em;
				display: block;
				@media (min-width: 769px) {
					display: none;
				}
			}
			a.level3 {
			//	font-weight: bold;
			//	text-transform: uppercase;
			}
			ul.level1 {
				padding: 0 1em; 
				@media (min-width: 769px) {
				padding: 0; 
				}
			}
			ul.level2 {
				margin-bottom: 1em;
				@media (min-width: 769px) {
				//	padding: 0 1em; 
					padding: 0 1em 0 4em;
					text-align: left;
				}
				@media (min-width: 1200px) {
					padding: 0 1em 0 6em;

				}
			}
			ul.level3 {
				text-transform: uppercase;
			    padding: 0.5em 0 0 1em;
			}
		}
	}
	@media (max-width: 768px) {
		.nav-wrapper {
		    font-size: 1.1em;
			li {
				padding: 0;
				a {
					padding: 0.25em;
				}
			}
		}
	}
	.social {
		margin-top: 1em;
		font-size: 1.5em;
		.fa {
			margin: 0 0.25em;
		}
	}

/*	@media(min-width: 992px){
		.nav-wrapper {
			ul:after {
				content: "";
				float: none; 
				clear: both;
			}
			li {
				float: left;
				width: 33%;
			}
		}
	} */
	.prodgroup-nav {
		@media(min-width: 996px) {
			padding: 5em 0 2em 0;
		}
		img {
			position: relative;
			max-width: 100%;
			height: auto;
			top: 0;
			transition: top .5s ease-in; 
			&:before {
				content: "";
				display: block;
			}
		}
		.prodgroup {
			text-align: center;
		    padding: 2em 0;
		    @media(min-width: 769px) {
				padding: 2em 0 0 0;
		    }
		}
		.img-wrapper {
			position: relative;
			min-height: 9em;
			&:after {
				bottom: 0em;
				left: 0;
				content: "";
				position: absolute;
				width: 100%;
				height: 2em;
				border-radius: 50%;
				background-image: radial-gradient(ellipse, rgba(0,0,0,0.1) 0%, transparent 50%);
				z-index: -1;
				opacity: 1;
				transition: transform .5s ease-in, opacity .5s ease-in;

			}

			
		}

		h4 {
			font-size: 1em;
			font-weight: 500;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			transition: font-size .2s ease-in;
		}
		a {
			text-decoration: none;
		}
		@media(min-width: 768px) {
			h4 {
				font-size: 1.2em;
				margin-top: 1.5em;
			}
		}
		@media(min-width: 996px) {
			
			.img-wrapper:hover {
				img {
					top: -1em;
				//	animation: hover 3s ease-in infinite;
				}
				&:after {
/*					bottom: -1em;*/
					transform: scale(0.8); 
					opacity: 0.5;
				}	
			}
		}
	}
}
.nav-overlay {
	position: fixed;
	opacity: 0;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	top: 0%;
	right: 0%;
	z-index: 98;
	cursor: pointer;
	pointer-events: none;
	transition: opacity .33s ease-in;
	.menu-active & {
		pointer-events: all;
		opacity: 1;
	}
}



.carousel-main {
	margin-bottom: 1em;
	.carousel-content {
		position: relative;
		margin: 0 -15px;
		.download {
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: #FFF;
			color: #666;
			padding: 0.5em 0.75em;
			transition: background-color .2s;
			&:hover {
				background-color: #eee;
			}
		}
		.expand {
			opacity: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 3em;
			text-align: center;
			width: 2em;
			height: 2em;
			line-height: 2em;
			margin: -1em 0 0 -1em;
			color: #000;
			.fa {
				line-height: 2em;
			}
			transition: opacity .2s, transform .2s;
		}
		&:hover .expand {
			opacity: 0.66;
			transform: scale(1.2);
			&:hover {
				opacity: 1;
				transform: scale(2);
			}
		}
	}
}
.carousel-nav {
	margin: 0 -0.5em;
	.thumb {
		padding: 0 0.5em;
		img {
			margin: 0 auto;
		}
	}
}

.navbar {
	text-align: center;
}
.navbar-nav {
	text-align: center;
	display: inline-block;
	float: none;
	> li {
		text-transform: uppercase;
	    border-bottom: 2px solid #666;
		a {
			color: inherit;
			padding: 1em 2em;
			transition: color .2s; 
			&:focus,
			&:hover,
			&.active:hover {
				background-color: inherit;
				color: $rumasOrange;
				cursor: pointer;
			}
			&.active {
				color: #333;
				font-weight: bold;
			}
		}

	}	
}
.panel {
	overflow-y: hidden;
	margin: 0;
    border: 0;
    box-shadow: none;

	max-height: 0;
	opacity: 0;

	transition: max-height .2s linear, opacity .2s linear;
	&.active {
		opacity: 1;
		max-height: 100em;
		max-height: 100rem;
	    margin-bottom: 3em;
	    &#panel-material{
	    	max-height: 300em;
	    }
	    &#panel-downloads{
			padding-top: 3em;
	    }
	    &#panel-specs{
	    	h3{ margin-top: 1em; }
	    }
	}
	.panel {
		margin: 0;
		padding: 0;
		background: #eee;
		transition: all .2s linear; 

		// Pos fix
		position: absolute;
		left: 0;
		z-index: 95;
		width: 100%;
		p {
			text-align: left;
		}
		.variation {
			p {
				text-align: center;
			}
		}
		&.active {
			margin: 0 0 2em 0;
			padding: 2em 0 1em 0;

			// Pos fix
			box-shadow: 0 0.5em 0.5em rgba(0,0,0,0.25);
		}

	}
}

.page {
	&.page-product {
		padding: inherit;
		h1 {
			text-transform: uppercase;
			font-weight: 800;
			letter-spacing: 0.5em;
			margin: 0.5em 0;
			text-align: left;
		}
		header {
			padding: 5em 0 2em 0;
		//    margin-bottom: 2em;
			.price {
				text-align: center;
				@media(min-width: 992px){
					text-align: right;
				}
				h3 {	
					margin: 0.25em 0;
					font-weight: 300;
				}
			}
			.buttons {
				text-align: center;
				@media(min-width: 992px){
					text-align: left;
				}
			}
			.btn {
			    color: #333;
			    font-weight: 700;
			    padding: 0.5em 1.25em;
			    margin-bottom: 1em;
			    &.btn-dealer{
			    	padding: 0.66em 1.25em 0.5em 1.25em;
			    	&:after {
				    	content: "\f07a";
			    	}
			    }
			    &.btn-contact {
			    	padding: 0.66em 1.25em 0.5em 1.25em;
			    	@media(max-width: 767px) {
			    		&.mobile-button {
			    			display:inline-block !important;				    		
			    		}			    		
			    	}
			    	&:after {
				    	content: "\f003";
			    	}
			    	@media(max-width: 767px) {
				    	&.mobile-button:after {
				    		content: "\f095"	
				    	}					    		
			    	}
			    }
			}
			
		}
		@media(min-width: 992px){
			h1 {
				margin: 0;
			}
			header {
				background-image: linear-gradient(to right, #fff 0%, #fff 40%, #eee 40%, #eee 100%);
				padding: 5em 0;
				.text-wrapper {
					max-width: 36em;
					margin: 0 auto;
				}
			}
		}
		.panel {
			h3 {
				text-transform: uppercase;
				font-size: 1.5em;
				margin-bottom: 1em;
			}
			.variation {
				padding-top: 1em;
				transition: background-color .2s;
				min-height: 13em;
				p {
					text-transform: uppercase;
				}
				img {
					margin: 0 auto 1em auto;
				}
				&.has-options{
					cursor: pointer;
					&:hover {
						background-color: #f9f9f9;
					}
				}
				&.active:hover,
				&.active {
					background-color: #eee;
				}
			}
			.download {
				text-align: center;
			}
			&#panel-specs {
				img {
					margin: 0 0 1.5em 0;
				}
				&.active {
					max-height: 500em;
				}
			} 
		}
		.btn-group {
			margin: 0 auto;
			color: #666;
			&:hover .btn-transparent {
				color: #999;
			}
		}
		.vargroup {
		    margin-top: 3em;
		}
		.relatedproducts {
			text-align: center;
			h2 {
				font-size: 2.66em;
				line-height: 1.33;
				margin: 1.5em 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 0.5em;
				font-weight: 800;
				color: #666;
			}
			.product {
				display: inline-block;
				text-decoration: none;
				padding: 0 1em;
			}
		}
	}
	&.page-text {
		padding-bottom: 5em;
		header {
			text-align: center;
			padding: 8em 0;
			color: #fff;
			background-color: $rumasTurquoise;
			h1 {
				font-size: 2.5em;
				letter-spacing: 0.2em;
				text-transform: uppercase;
			}

			@media(min-width: 768px) {
				padding: 15em 0;
				h1 {
					font-size: 3em;
					letter-spacing: 0.5em;
				}
			}

		}
		.breadcrumb {
			border-radius: 0;
			border: none;
			background: none;
			color: #aaa;
			padding: 1em 15px;
			a {
				color: #aaa;
				text-decoration: none;
				&:hover {
					color: #333;
				}
			}
		}
		.sidebar {
			h3 {
				text-transform: uppercase;
				font-size: 1.2em;
				font-weight: 800;
				letter-spacing: 0.5em;
			}
			ul {
				color: #666;
				font-weight: 500;
				list-style: none;
				letter-spacing: 0.1em;
				padding: 0;
				a {
					color: inherit;
					text-decoration: none;
					&:hover {
						color: #333;
					}
				}
				li {
					padding: 0.5em 0;
					&:before {
						content: "- ";
					}
				}
				li li {
					padding: 1em 0 0 0;
					&:before {
						content: "- - ";
					}
				}
			}
		}
		.content { 
			h1, h2, h3, h4 { 
				text-transform: uppercase;
				margin-bottom: 0.5em;
			}
			h1 {	font-size: 1.75em; }
			h2 {	font-size: 1.5em; }
			h3 {	font-size: 1.25em; }
			h4 {	font-size: 1.1em; }
			p {
				margin-bottom: 1.5em;
			}
		}
	}
}

section {
	position: relative;
	
	width: 100%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding: 1em 0;
/*	background-color: rgba(200,100,50,0.5);
	color: #fff;*/
	h1, h2, h3 {
		margin: 0 0 1em 0;
		text-transform: uppercase;
	}
	a {
		color: currentColor;
	}
	header h1 {
		font-size: 3.5em;
		letter-spacing: 0.5em;
		text-transform: uppercase;
		margin: 0;
		text-align: center;
		@media(max-width: 767px) {
			font-size: 1.5em;
		}
	}
	.content {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translate(0,-50%);
		.logo {
			margin-bottom: 2em;
			max-width: 20em;
			transition: max-width .5s;
			@media(min-width: 768px){
				max-width: 30em;

			}
		}
	}
	.btn {

	}
	
	&.header {
		padding: 8em 0;
		margin-bottom: 3em;
		background-color: none;
		&.header-clean {
			padding: 2em 0;
		}
		h1, h2 {
			text-align: center;
			margin: 0.5em 0;
			font-size: 2.5em;
			letter-spacing: 0.2em;			
		}
		@media(min-width: 768px){
			padding: 10em 0;
			h1, h2 {
				font-size: 3.5em;
				letter-spacing: 0.5em;
			}
		}
		a {
			color: inherit;
		}
	}
	&.fullscreen {
		min-height: 40em;
		min-height: 100vh;

		.img-box {
			position: absolute;
			right: 0;
			background-size: cover;
			background-position: 50% 50%;
			height: 100%;
			width: 100%;
			top: 0%;
			transition: all 0.5s;
			
			@media(min-width: 992px){
				height: 90%;
				width: 75%;
				top: 5%;
			}
		}
		.scroll-indicator {
			position: absolute;
			bottom: 3em;
			width: 6em;
			margin-left: -3em;
			left: 50%;
			cursor: pointer;
			transition: transform 0.2s ease-in;
			p {
			    text-align: center;
				text-transform: uppercase;
			}
		    &:after {
		    	content: "";
		    	display: block;
		    	position: relative;
				left: 2.25em;
		    	width: 1em;
		    	height: 1em;
		    	border-bottom: 1px solid currentColor;
		    	border-right: 1px solid currentColor;
				transform: rotate(45deg);
			}
			&:hover {
				transform: scale(1.2);
			}
		}
	}

	&.reference-list {

		padding: 1em 0 0 0;
		min-height: 0;
		h1 {
			text-align: center;
		}
		> header {
			padding: 12em 0;
			margin-bottom: 3em;
			background-color: $rumasYellow;
		}
		.reference {
			text-align: center;
			font-size: 0.9em;
			padding-top: 2em;
			padding-bottom: 2em;
			img {
				margin: 0 auto 2em auto;
			}
		}
		h3 {
			font-size: 1.33em;
			margin: 0.5em 0;
			text-transform: uppercase;

		}
		.readmore {
			font-weight: bold;
			text-transform: uppercase;
		}
		@media(min-width: 992px){
			.container-fluid > .row {
				background-image: linear-gradient(to bottom, #fff 0%, #fff 66%, $rumasYellow 66%, $rumasYellow 100%);
			}
		}
	}
	&.reference {
		min-height: 0;
		padding-top: 0;
		h1 {
			letter-spacing: 0.5em;
			font-size: 2em;
			font-weight: 800;
			margin: 1em 0 0 0;
		}
		h3 {
			margin-top: 2em;
			font-size: 1.5em;
			font-weight: 800;
		}
		@media(min-width: 992px){
			.text-wrapper {
				max-width: 36em;
				margin: 0 auto;
			}
		}
		.banner {
			padding: 0 0 5em 0;
		@media(min-width: 992px){
			background-image: linear-gradient(to right, #fff 0%, #fff 40%, $rumasYellow 40%, $rumasYellow 100%);
			padding: 5em 0;
		}
			
		}
		
		.relatedproducts {
			text-align: center;
			h2 {
				font-size: 2.66em;
				line-height: 1.33;
				margin: 1.5em 0;
				text-transform: uppercase;
				text-align: center;
				letter-spacing: 0.5em;
				font-weight: 800;
				color: #666;
			}
			.product {
				display: inline-block;
				text-decoration: none;
				padding: 0 1em;
			}
		}
		.relatedreferences {

		}
	}
	&.download-list {
		padding-top: 0;
		header {
			background: $rumasPeach;
			color: #fff;
			margin-bottom: 5em;
		}
		.btn-group {
			margin: 0 auto;
			&:hover .btn-transparent {
				color: #999;
			}
		}
		.filter {
			cursor: pointer;
		}
		.download {
			text-align: center;
		    min-height: 34em;
			.img-wrapper {
				position: relative;
				width: 100%;
				min-height: 16em;
			@supports ( transform: translate(-50%, -50%) )  {
				padding-top: 100%;
				min-height: 0;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
				    transform: translate(-50%,-50%);
					max-width: 100%;
					max-height: 100%;
				}
			}
		
			}
		
			h3 {
				font-size: 1.5em;
				margin: 1em 0 0.5em 0;
			}
		}
	}

	&.dealer-list {
		padding-top: 0;
		header {
			background: $rumasPearl;
			color: #fff;
			padding: 15em 0;
			margin-bottom: -10em;
		}
		h2 {
		    margin: 1em auto 0.5em auto;
			text-transform: uppercase;
			letter-spacing: 0.5em;
			font-size: 2em;
			text-align: left;
			@media(min-width: 996px){
				font-size: 3.5em;
				text-align: center;
			}
		}
		.gm-style-iw,
		.dealer {
		    min-height: 18em;
			h4 {
				text-transform: uppercase;
			}
			.link {
				text-transform: uppercase;
				font-weight: bold;
			}
		}
		.gm-style-iw .dealer {
			padding: 1em;
		}
		
	}

	&.product-list {
		padding-top: 0;
		> header {
			padding: 8em 0;
			margin-bottom: 5em;
			color: #fff;
			background: $rumasOrange;
			h1 {
				text-align: center;
				text-transform: uppercase;
				margin: 0;
				font-size: 2.5em;
				letter-spacing: 0.2em;
			}
			@media(min-width: 768px){
				padding: 10em 0;
				h1 {
					font-size: 3.5em;
					letter-spacing: 0.5em;
				}
			}
		}
		.product {
			text-align: center;
			min-height: 15em;
			img {
				margin: 0 auto;
			}
			p {
				margin: 0.5em 0;
			}
		}
	}
	&.product-slider {
		.slider-wrapper {
			max-width: 100em;
			margin: 0 auto;
		}
		.product {
			z-index: 100;
			padding: 12em 0 24em 0;
			transition: transform .5s ease-in, z-index .1s ease-in;
			.box {
				position: relative;
				padding-top: 100%;
				background: $rumasPearl;
			    box-shadow: 0 0 0.5em 0em rgba(0,0,0,0.5);
			    transition: box-shadow .5s ease-in;
			}
			&:nth-child(3n) .box {
				background: $rumasPink;
			}
			&:nth-child(3n+1) .box {
				background: $rumasGrape;
			}
			.title {
				text-transform: uppercase;
				color: #fff;
				font-size: 1.5em;
				line-height: 1;
				margin: 0;
				letter-spacing: 0.5em;

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding: 1em;
				
				z-index: 100;
			}
			.product-image {
				position: absolute;
				width: 100%;
				bottom: -5em;
				left: 0;
			}
			.text { 
				font-size: 0.8em;
				padding: 5em 0 1em 0;
				text-align: center;
				opacity: 0;
				position: absolute;
				top: 100%;
				width: 100%;
				transition: opacity .25s linear;
				p {
					max-width: 36em;
					margin: 1em auto;
				}
				.link {
					text-transform: uppercase;
				//	font-weight: bold;
					letter-spacing: 0.1em;
					color: #333;
				}
			}
			@media(min-width: 768px) {
				.title{ font-size: 2em; }
			/*	.text{ 	font-size: 1em; } */
			}
			&.is-selected {
				transform: scale(1.2);
				z-index: 105;
				.box {
				    box-shadow: 0 0 3em 0em rgba(0,0,0,0.5);
				}
				.text {
					opacity: 1;
					
				}
			}
		}
		.flickity-viewport {
		//	overflow-y: auto;
		}	
	}
	&.employee-list {
		padding: 5em 0;
		header h1 {
			margin-bottom: 1.5em;
		}
		.employee {
			text-align: center;
			margin-bottom: 1em;
			.img-wrapper {
				position: relative;
				text-align: center;
				img {
					margin: 0 auto;
				}
				.alt-img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					opacity: 0;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;
					transition: opacity .2s ease-in; 
				}
				&:focus .alt-img,
				&:hover .alt-img {
					opacity: 1;
				}
			}
		
			h4 {
				font-size: 1.33em;
				text-transform: uppercase;
				margin: 1em 0 0.25em 0;
			}
			.title {
				text-transform: uppercase;
			}
			.title,
			.phone,
			.mail {
				margin: 0.25em 0;
			}
			.mail {
				font-weight: bold;
			}
			
		}
	}
	&.links {
		padding: 0 0;
		margin: 3em 0;
		.link {
			position: relative;
			background-size: cover;
			background-position: 50% 50%;
			min-height: 30em;

			background-color: $rumasPearl;
			&:nth-child(3n) {
				background-color: $rumasPink;
			}
			&:nth-child(3n+1) {
				background-color: $rumasGrape;
			}
			&.has-image:before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: #fff;
				opacity: 0.5;
			}
			
		}
	}
}

.search-result {
	a {
		display: block;
		text-decoration: none;
		color: #333;
		padding: 0.5em 1em;
		transition: background .2s;
		&:hover {
			background: #eee;
		}
	}
}

footer {
	text-align: center;
	color: #666;
	font-size: 0.8em;
	padding: 2em 0;
	border-top: 1px solid #eee;
	a {
		color: currentColor;
		transition: color .2s;
		&:hover {
			text-decoration: none;
			color: $rumasOrange;
		}
	}
	ul {
		list-style: none;
		padding: 1em 0;
		margin: 2em 0;

	}
	li {
		display: inline-block;
		margin: 0 1em;
		font-size: 1.33em;
		font-weight: bold;
		text-transform: uppercase;
		color: #000;
	}
	.social {
		font-size: 3em;
		margin: 0.75em 0;
		color: #000;
		a {
			margin: 0 0.5em;
		}
	}
	.logo {
		max-width: 9em;
		margin: 2em auto 1em auto;
	}
}

@keyframes hover {
	0% { transform: 	rotate(0deg) translate(0,0); }
	25% { transform: 	rotate(5deg) translate(-5px,3px); }
	40% { transform: 	rotate(-2deg) translate(4px,-3px); }
	60% { transform: 	rotate(4deg) translate(-4px,2px); }
	75% { transform: 	rotate(-5deg) translate(3px,-5px); }
	100% { transform: 	rotate(0deg) translate(0,0); }
}

.product-description {
    text-align: center;
	margin-top: $productDescMargin;
	margin-bottom: -$productDescMargin;
}

#sections img {
	max-width: 100%;
	height: auto !important;
}