﻿@using System.Text.RegularExpressions;
@using System.Web;

@{
	int fromPrice = GetInteger("Ecom:Product.DBPrice");
	int imgIndex = 0;
	string mainImage = GetString("Ecom:Product.ImageLarge.Clean");

	int dlCount = GetLoop("Details").Count();

	var altProducts = GetLoop("RelatedProducts");

	string Stregtegning1 = GetString("Ecom:Product:Field.Stregtegning1.Clean");
	string Stregtegning2 = GetString("Ecom:Product:Field.Stregtegning2.Clean");
	string Stregtegning3 = GetString("Ecom:Product:Field.Stregtegning3.Clean");
	string Stregtegning4 = GetString("Ecom:Product:Field.Stregtegning4.Clean");
	string Stregtegning5 = GetString("Ecom:Product:Field.Stregtegning5.Clean");
	string Stregtegning6 = GetString("Ecom:Product:Field.Stregtegning6.Clean");
	string Stregtegning7 = GetString("Ecom:Product:Field.Stregtegning7.Clean");
	string Stregtegning8 = GetString("Ecom:Product:Field.Stregtegning8.Clean");
	string Stregtegning9 = GetString("Ecom:Product:Field.Stregtegning9.Clean");
	string Stregtegning10 = GetString("Ecom:Product:Field.Stregtegning10.Clean");

	string Specifikationer 	= GetString("Ecom:Product:Field.specifikationer.Value.Clean");
	string Stregtegning1Text = GetString("Ecom:Product:Field.Stregtegning1Text.Value.Clean");
	string Stregtegning2Text = GetString("Ecom:Product:Field.Stregtegning2Text.Value.Clean");
	string Stregtegning3Text = GetString("Ecom:Product:Field.Stregtegning3Text.Value.Clean");
	string Stregtegning4Text = GetString("Ecom:Product:Field.Stregtegning4Text.Value.Clean");
	string Stregtegning5Text = GetString("Ecom:Product:Field.Stregtegning5Text.Value.Clean");
	string Stregtegning6Text = GetString("Ecom:Product:Field.Stregtegning6Text.Value.Clean");
	string Stregtegning7Text = GetString("Ecom:Product:Field.Stregtegning7Text.Value.Clean");
	string Stregtegning8Text = GetString("Ecom:Product:Field.Stregtegning8Text.Value.Clean");
	string Stregtegning9Text = GetString("Ecom:Product:Field.Stregtegning9Text.Value.Clean");
	string Stregtegning10Text = GetString("Ecom:Product:Field.Stregtegning10Text.Value.Clean");


	string DesignImage = GetString("Ecom:Product:Field.DesignerImage.Clean");
	string DesignName = GetString("Ecom:Product:Field.DesignerName");
	string DesignDesc = GetString("Ecom:Product:Field.DesignerDesc").Replace(Environment.NewLine, "<br/>");

	List<LoopItem> prodImages = GetLoop("Details");
	prodImages.Reverse();
}

@foreach(LoopItem variant in GetLoop("VariantCombinations")){
@* string variantPrice = variant.GetString("Ecom:VariantCombination.Product.Price"); *@
	string variantPrice = variant.GetString("Ecom:Product.DBPrice").ToString();
		if (!String.IsNullOrEmpty(variantPrice)) {
				int varPrice = Int32.Parse(variantPrice);
				if (varPrice != 0 && varPrice > fromPrice) {
						fromPrice = varPrice;
				}
		}
@*	<script> console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(variant.Values)));</script> *@
}
<section class="page page-product text-dark">
	<header>
		<div class="container">
          
          	<div class="row">
             
              
          	</div>
          
          
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="main-carousel carousel-main" data-flickity='{ "wrapAround": true, "imagesLoaded": true, "adaptiveHeight": true, "pageDots": false }'>
				@*	@if(!String.IsNullOrEmpty( mainImage )) {
						<div class="carousel-cell col-xs-12" data-url="@mainImage">
							<div class="carousel-content">
								<img src="@mainImage" class="img-responsive" />
								<a class="download" href="@mainImage" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
							</div>
						</div>
					} *@
					@foreach(LoopItem field in prodImages){
						string url = field.GetString("Ecom:Product:Detail.Image.Clean");
						if (url.EndsWith(".jpg") || url.EndsWith(".png") || url.EndsWith(".gif")) {
						<div class="carousel-cell col-xs-12" data-url="@url">
							<div class="carousel-content">
								<img src="@url" class="img-responsive" />
								<a class="expand" href="@url" data-lightbox="gallery" target="_blank"><i class="fa fa-expand" aria-hidden="true"></i></a>
								<a class="download" href="@url" target="_blank"><i class="fa fa-download" aria-hidden="true"></i></a>
							</div>
						</div>
						}
					}
					</div>
					<div class="row no-padding">
						<div class="carousel-nav" data-flickity='{ "asNavFor": ".carousel-main", "contain": true, "pageDots": false, "imagesLoaded": true, "prevNextButtons": false }'>
					@*	@if(!String.IsNullOrEmpty( mainImage )) {
							<div class="thumb col-xs-3 col-sm-2">
								<img data-index="@imgIndex" src="/admin/public/getimage.ashx?Image=@mainImage&Format=jpg&Width=120&Height=80" class="img-responsive" />
							</div>
							imgIndex++;
						} *@
						@foreach(LoopItem field in prodImages){
							string url = field.GetString("Ecom:Product:Detail.Image.Clean");
							if (url.EndsWith(".jpg") || url.EndsWith(".png") || url.EndsWith(".gif")) {
								<div class="thumb col-xs-3 col-sm-2">
                                  
									<img data-index="@imgIndex" src="/admin/public/getimage.ashx?Image=@url&Format=jpg&Width=120&Height=80" class="img-responsive" />
                                 
								</div>
								imgIndex++;
							}
						}
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-md-6">
					<div class="text-wrapper">
						<h1>@GetValue("Ecom:Product.Name")</h1>
						<p>
							<span class="shortdescription">@GetValue("Ecom:Product.ShortDescription")</span>
						</p>
						<br/>
						<div class="row">
							@if (fromPrice != 0) {
							<div class="price col-xs-12 col-md-6">
								<h3>Fra kr. @(fromPrice),-</h3>
								<p class="">(vejl. excl. moms)</p>
							</div>
							}
							<div class="buttons col-xs-12 col-md-6">
								<a href="/Default.aspx?ID=21" class="btn btn-transparent btn-dealer">Find forhandler</a>
								<a href="Default.aspx?ID=24" class="hidden-xs btn btn-transparent btn-contact">Kontakt</a>
								<a href="tel:+4598181155" class="visible-xs btn btn-transparent btn-contact mobile-button">Kontakt</a>
							</div>
						</div>
						
					</div>				
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="navbar">
			<ul class="nav navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="#design">Design</a>
				</li>
			@if (!String.IsNullOrEmpty(Stregtegning1+Stregtegning2+Stregtegning3+Stregtegning4)) {
				<li class="nav-item">
					<a class="nav-link" href="#specs">Specifikationer</a>
				</li>
			}
			<li class="nav-item">
				<a class="nav-link" href="#material">Materialer</a>
			</li>
			@if(dlCount >= 1) {
				<li class="nav-item">
					<a class="nav-link" href="#downloads">Download</a>
				</li>
			}				
			</ul>
		</div>
	</div>

	<div id="panel-design" class="panel active">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<h3>@GetValue("Ecom:Product.Name")</h3>
					<span class="longdescription">@GetValue("Ecom:Product.LongDescription")</span>
				</div>
				@if (!String.IsNullOrEmpty(DesignName)) {
				<div class="col-xs-12 col-md-6">
					<h3>Designed by</h3>
					@if (!String.IsNullOrEmpty(DesignImage)) {
					<img src="/admin/public/getimage.ashx?Image=@DesignImage&Format=jpg&Width=640&Height=320" class="img-responsive" />
					<br>
					}
					<h3>@DesignName</h3>
					<p>@DesignDesc</p>
				</div>
				}
			</div>
		</div>
	</div>
	@if (!String.IsNullOrEmpty(Stregtegning1+Stregtegning2+Stregtegning3+Stregtegning4)) {
	<div id="panel-specs" class="panel">
		<div class="container">
			<div class="row">
				@if(!String.IsNullOrEmpty(Specifikationer)) {
				string specHtml = Regex.Replace(Specifikationer,"<br>","");
				<div class="col-xs-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
					<br>
@*					@Regex.Replace(HttpUtility.HtmlDecode(Specifikationer),"<br>","")
					@Specifikationer *@
					@HttpUtility.HtmlDecode(specHtml)
				</div>
				}
				

				<div class="col-xs-12 text-center">
					<h3>Produkttegning</h3>
				</div>
				<div class="row">
					@if(!String.IsNullOrEmpty(Stregtegning1)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning1&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning1Text)) {
						<label>@Stregtegning1Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning2)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="@Stregtegning2" class="img-responsive" />
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning2Text)) {
						<label>@Stregtegning2Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning3)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning3&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning3Text)) {
						<label>@Stregtegning3Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning4)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning4&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning4Text)) {
						<label>@Stregtegning4Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning5)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning5&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning5Text)) {
						<label>@Stregtegning5Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning6)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning6&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning6Text)) {
						<label>@Stregtegning6Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning7)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning7&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning7Text)) {
						<label>@Stregtegning7Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning8)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning8&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning8Text)) {
						<label>@Stregtegning8Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning9)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning9&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning9Text)) {
						<label>@Stregtegning9Text</label>
						}
					</div>
					}
					@if(!String.IsNullOrEmpty(Stregtegning10)) {
					<div class="col-xs-12 col-md-6">
						<div class="row">
							<img src="/admin/public/getimage.ashx?Image=@Stregtegning10&Format=png&Width=600" class="img-responsive" /> 
						</div>
						@if(!String.IsNullOrEmpty(Stregtegning10Text)) {
						<label>@Stregtegning10Text</label>
						}
					</div>
					}


				</div>
				
			</div>
		</div>
	</div>
	}
	
	@if(GetLoop("Details").Count() >= 1) {
	<div id="panel-downloads" class="panel">
		<div class="container">
			<h3 class="text-center">Downloads</h3>
			<div class="row">
				@foreach(LoopItem field in GetLoop("Details")){
				@*	<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(field.Values)));</script> *@

					string url = field.GetString("Ecom:Product:Detail.Image.Clean");
					string Filename = System.IO.Path.GetFileNameWithoutExtension(url);
					string Extension = System.IO.Path.GetExtension(url).ToLower();
					if (Extension.Length > 3) { 
						Extension = Extension.Substring(1);
					}
					string desc = "Download";
					string iconUrl = "/Files/Files/Produkt%20Downloads/Download%20ikoner/DOWNLOAD-generelt-ikon-300x300.png";
					if(Extension == "rar" || Extension == "zip") {
					 	if (Filename.Length > 3) {
							Extension = Filename.Substring(Filename.Length-3);
						}
						desc = "PAKKE";
					}
			@*		if (Extension == "con") {
						desc = "PCON";
						iconUrl = "/Files/Files/Produkt%20downloads/Download%20ikoner/pCon-Planner.png";
					} *@
					if(Extension == "pdf") {
						desc = "PRODUKTBLAD";
						iconUrl = "/Files/Files/Produkt%20Downloads/Download%20ikoner/PDF-ikon-300x300.png";
					}
					if(Extension == "rfa") {
						desc = "REVIT";
						iconUrl = "/Files/Files/Produkt%20Downloads/Download%20ikoner/REVIT-ikon-300x300.png";
					}
					if(Extension == "dwg") {
						desc = "3D DWG";
						iconUrl = "/Files/Files/Produkt%20downloads/Download%20ikoner/DWG-ikon-300x300.png";
					}
					if (url.Contains("issuu.com")) {
					 	url = url.Replace("/Files","");
						desc = "PDF";
						iconUrl = "/Files/Files/Produkt%20Downloads/Download%20ikoner/PDF-ikon-300x300.png";
					}
					if (String.IsNullOrEmpty(url)) {
						url = field.GetString("Ecom:Product:Detail.Link");
						desc = "LINK";
						if (url.Contains("pcon-catalog.com")) {
							desc = "PCON";
							iconUrl = "/Files/Files/Produkt%20downloads/Download%20ikoner/pCon-Planner.png";
						}

						
					}
					
					if (url.Length > 3) {
						if (Extension != "jpg" && Extension != "png" && Extension != "gif") {
						<div class="download col-xs-12 col-sm-6 col-md-4 col-lg-3">
							<div class="img-wrapper">
								<a href='@url' target="_blank">
									<img src="@iconUrl" class="img-responsive" style="max-width: 10em; margin: 0 auto;" />
								</a>
							</div>
							<h4>@GetValue("Ecom:Product.Name")</h4>
							<p>@desc</p>
					@*		<a class="btn-group" href='@url' target="_blank">
								<button type="button" class="btn btn-transparent">Download</button>
								<button type="button" class="btn btn-transparent">
									<i class="fa fa-arrow-down" aria-hidden="true"></i>
								</button>
							</a> *@
						</div>
						}
					}		
				}
				<div class="download col-xs-12 col-sm-6 col-md-4 col-lg-3">
					<div class="img-wrapper">
						<a href='http://pcon-catalog.com/rumas/' target="_blank">
							<img src="/Files/Files/Produkt%20downloads/Download%20ikoner/pCon-Planner.png" class="img-responsive" style="max-width: 10em; margin: 0 auto;" />
						</a>
					</div>
					<h4>@GetValue("Ecom:Product.Name")</h4>
					<p>PCON</p>
				</div>
				
			</div>
		</div>
	</div>
	}
	<div id="panel-material" class="panel">

		@foreach(LoopItem item in GetLoop("VariantGroups").OrderBy(x => x.GetString("Ecom:VariantGroup.Label"))){
			string variationClass = "col-xs-6 col-sm-3 text-center";
			string grpOption = Regex.Replace(item.GetString("Ecom:VariantGroup.Name").ToLower(), "[^0-9a-zA-Z]+", ""); // item.GetString("Ecom:VariantGroup.Name").ToLower().Replace(" ","").Replace("(","").Replace(")","");
			if (item.GetLoop("VariantAvailableOptions").Count() == 1) {
				variationClass = "col-xs-6 col-sm-4 col-sm-push-4 text-center";
			}
			if (item.GetLoop("VariantAvailableOptions").Count() == 2) {
				variationClass = "col-xs-6 col-sm-3 col-sm-push-3 text-center";
			}
			int varCount = 0;
			<div class="vargroup container" data-vargroup='@grpOption' data-vargroupid='@item.GetValue("Ecom:VariantGroup.ID")'>
				<h3 class="text-center">@item.GetValue("Ecom:VariantGroup.Name")</h3>
				<div class="row">
					@foreach(LoopItem variant in item.GetLoop("VariantAvailableOptions")){
						varCount++;
						if (varCount == 5) {
							varCount = 1;
							@:</div><div class='row'>
						}

					string imageUrl = "http://placehold.it/400x200?text=Mangler+billede";
					string varoption = variant.GetString("Ecom:VariantOption.Name").ToLower().Replace(" ","").Replace("(","").Replace(")","");

					if (!String.IsNullOrEmpty( variant.GetString("Ecom:VariantOption.ImgLarge.Clean") )) {
						string imgpath = variant.GetString("Ecom:VariantOption.ImgLarge.Clean");
						string imgext = System.IO.Path.GetExtension(imgpath).Substring(1);
						imageUrl = "/admin/public/getimage.ashx?Image=Files/Images/"+imgpath+"&Format="+imgext+"&Width=400&Height=200";

					}
					<div class="variation @variationClass" data-varoption='@varoption' data-varoptionid='@variant.GetValue("Ecom:VariantOption.ID")' data-varoptiondesc='@variant.GetValue("Ecom:VariantOption.beskrivelse")'>
						<img src="@imageUrl" class="img-responsive" />
						<p>@variant.GetValue("Ecom:VariantOption.Name")</p>
					</div>
					}
				</div>
			</div>
		}
		
	</div>

	@foreach(LoopItem rGroup in GetLoop("ProductRelatedGroups")){
		if(rGroup.GetLoop("RelatedProducts").Count() > 0) {
		<div class="relatedproducts">
			<div class="container">
				<h2>Relaterede<br>produkter</h2>
			</div>

			<div class="container">
				<div class="row">
				@foreach(LoopItem product in rGroup.GetLoop("RelatedProducts")){
					string imgUrl = product.GetString("Ecom:Product.ImageLarge.Clean");
		          	<div class="product col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
						<a href='@product.GetString("Ecom:Product.Link.Clean")'>
							@if(!String.IsNullOrEmpty( imgUrl )) {
							//	imgUrl = imgUrl.Replace("&Width=256&Height=256", "&Height=100");
								imgUrl = "/admin/public/getimage.ashx?Image="+ imgUrl +"&Format=jpg&Height=200";
								<img src='@imgUrl' class="img-responsive" />
							}
							<p>@product.GetString("Ecom:Product.Name")</p>
						</a>
					</div>
				}
				</div>
			</div>
		</div>
		}
	}

</section>




@*


<script>// console.log("Related products: @GetValue("Ecom:Product.RelatedCount")");</script>
<script>// console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Values)));</script>
<ul>
@foreach(LoopItem item in GetLoop("ProductRelatedGroups")){
	<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(item.Values)));</script>
	<li>@item.GetValue("Product:RelatedGroup.Name")
		<ul>
			@foreach(LoopItem related in item.GetLoop("RelatedProducts")){
			<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(related.Values)));</script>
			<li>@related.GetValue("Ecom:VariantOption.Name")
				<ul>
					@foreach(LoopItem product in related.GetLoop("Products")){
					<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(product.Values)));</script>
					<li>@product.GetValue("Ecom:VariantOption.Name")</li>
					}
				</ul>
			</li>
			}
		</ul>
	</li>
}
</ul>
@*
<script>// console.log('VariantGroups');</script>
<ul>
@foreach(LoopItem item in GetLoop("VariantGroups")){
	<li>@item.GetValue("Ecom:VariantGroup.Name")
		<ul>
			@foreach(LoopItem variant in item.GetLoop("VariantAvailableOptions")){
			<script>// console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(variant.Values)));</script>
			<li>@variant.GetValue("Ecom:VariantOption.Name")</li>
			}
		</ul>
	</li>
}
</ul>

@foreach(LoopItem variant in GetLoop("VariantCombinations")){
<pre>@variant.GetValue("Ecom:VariantCombination.VariantID") @variant.GetValue("Ecom:VariantCombination.VariantText") @variant.GetString("Ecom:VariantCombination.Product.Price")</pre>
}

<script>console.log('Units');</script>
@foreach(LoopItem item in GetLoop("Units")){
<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(item.Values)));</script>
}
*@