@{
	List<string> types = new List<string>();
	foreach(LoopItem i in GetLoop("ItemPublisher:Items.List")) {
		string currentType = i.GetString("ItemPublisher:Item.Type.Value");
		if ( !types.Contains(currentType) ) {
			if(currentType.Length > 0){
				types.Add(currentType);
			}
		}
	}
}

<section class="download-list">
	
@*<header><h1>Downloads</h1></header>*@

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3">
				<h4>Hvad leder du efter?</h4>
			@foreach(string i in types) {
				string label = i; 
				if (label.Length > 0){
					label = label.First().ToString().ToUpper() + String.Join("", i.Skip(1)).Replace("oe","ø");
				}
				<label class="filter col-xs-4 col-md-12">
					<input type="radio" name="type" value="@i" />&nbsp;&nbsp;&nbsp;@label
				</label>
			} 
				<label class="filter col-xs-4 col-md-12">
					<input type="radio" name="type" value="" checked />&nbsp;&nbsp;&nbsp;Alle typer
				</label>
			</div>
			<div class="col-xs-12 col-md-9">
			@foreach(LoopItem i in GetLoop("ItemPublisher:Items.List")) {
				string image = i.GetString("ItemPublisher:Item.Billede.Value");
				string imgUrl = "/admin/public/getimage.ashx?Image="+image+"&Width=250&Height=250&crop=5";
				string downloadUrl = i.GetString("ItemPublisher:Item.Fil.Value");
				string description = "";
				if (downloadUrl.IndexOf(".png") > 0 || downloadUrl.IndexOf(".jpg") > 0) {
					description = "Billede";
				}
				string currentType = i.GetString("ItemPublisher:Item.Type.Value");
				<div class="download col-xs-12 col-sm-6 col-md-4" data-type="@currentType">
					<div class="img-wrapper">
						@if(!String.IsNullOrEmpty(image)) {
						<img src="@imgUrl" class="img-responsive" />
						}
					</div>
					<h4>@i.GetString("ItemPublisher:Item.Overskrift.Value")</h4>
					<p>@if(!String.IsNullOrEmpty(description)) { @description } else { <text>&nbsp;</text> }</p>
					@if(!String.IsNullOrEmpty(downloadUrl)) {
					<a class="btn-group" href='@downloadUrl' target="_blank">
						<button type="button" class="btn btn-transparent">Download</button>
						<button type="button" class="btn btn-transparent">
							<i class="fa fa-arrow-down" aria-hidden="true"></i>
						</button>
					</a>
					}
				</div>
			}
			</div>
		</div>
	</div>

</section>