﻿@using System.Net
@using System.Xml.Linq
@{
	string Region = "";

	var dealers = GetLoop("ItemPublisher:Items.List");
}


<section class="dealer-list">
	
	<header>
		<h1>Forhandlere</h1>
	</header>

	<div class="container">
		<div id="map" style="height: 500px;"></div>
	</div>

	<div class="container">
		<div class="row">
		@foreach(LoopItem dealer in dealers) {
			string Website = dealer.GetString("ItemPublisher:Item.Website.Value");
			string CurrentRegion = dealer.GetString("ItemPublisher:Item.Region.Value");
			if (Region != CurrentRegion){
				Region = CurrentRegion;
				@:<text></div><h2>@CurrentRegion</h2><div class='row'></text>
			} 
			<div class="dealer col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<h4>@dealer.GetString("ItemPublisher:Item.Navn.Value")</h4>
				<p>@dealer.GetString("ItemPublisher:Item.Adresse.Value").Replace(Environment.NewLine, "<br/>")<br>@dealer.GetString("ItemPublisher:Item.Postnummer.Value") @dealer.GetString("ItemPublisher:Item.By.Value")</p>
				<p class="contact"><b>Tlf.: <a href='mailto:@dealer.GetString("ItemPublisher:Item.Telefon.Value")'>@dealer.GetString("ItemPublisher:Item.Telefon.Value")</a><br/>
					Mail: <a href='mailto:@dealer.GetString("ItemPublisher:Item.Mail.Value")'>@dealer.GetString("ItemPublisher:Item.Mail.Value")</a>
				</b></p>
				@if(!String.IsNullOrEmpty(Website)) {
				<p class="link"><a href="@Website" target="_blank">Til Website</a></p>
				}
			</div>
		}
		</div>
	</div>

</section>
@*
<script>
@foreach(LoopItem dealer in dealers) {
	<text>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(dealer.Values)));</text>
}
</script>
*@

<script>
// document.getElementById("map").style.minHeight = (window.innerHeight-90) + "px";



function initMap() {

	var center = new google.maps.LatLng(53, 0);
	var Lokationer = [];

	var directionsDisplay;
	var directionsService 		= new google.maps.DirectionsService();
	var	CurrentLocation 		= center;
	var map;

	directionsDisplay 		= new google.maps.DirectionsRenderer({
		suppressMarkers: true, 
		polylineOptions: new google.maps.Polyline({
		    strokeColor: '#FFFFFF',
		    strokeOpacity: 0.9,
		    strokeWeight: 5
		})
	});

	var mapOptions = {
		zoom: 5,
		disableDefaultUI: true,
		scrollwheel: false,
		disableDoubleClickZoom: false,
		draggable: true, 
		panControl: true,
		zoomControl: true,
		ZoomControlStyle: 'small',	
		center: center,
		styles: [
			{"featureType":"water","elementType":"geometry","stylers":[{"color":"#dadada"},{"lightness":30}]},
			{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":20}]},
			{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"},{"lightness":17}]},
			{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"},{"lightness":29},{"weight":0.2}]},
			{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":18}]},
			{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"},{"lightness":16}]},
			{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#f5f5f5"},{"lightness":21}]},
			{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#dedede"},{"lightness":21}]},
			{"elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"lightness":16}]},
			{"elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#333333"},{"lightness":40}]},
			{"elementType":"labels.icon","stylers":[{"visibility":"off"}]},
			{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#f2f2f2"},{"lightness":19}]},
			{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#fefefe"},{"lightness":20}]},
			{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#fefefe"},{"lightness":17},{"weight":1.2}]}
		]
	};

	
	var mapElement = document.getElementById('map');
	var map = new google.maps.Map(mapElement, mapOptions);

	var geocoder = new google.maps.Geocoder();
	var image = 'http://rumas2016.dw9.dynamicweb-cms.com/files/templates/designs/Rumas/images/googlemaps-pin.png';

	var bounds = new google.maps.LatLngBounds();

	var infowindow = new google.maps.InfoWindow();

@{
	int	dealerCount = 0;
	foreach(var dealer in dealers) {
		string lat = dealer.GetString("ItemPublisher:Item.Geolokation.Lat").Replace(",",".");
		string lng = dealer.GetString("ItemPublisher:Item.Geolokation.Lng").Replace(",",".");
		string latlong = dealer.GetString("ItemPublisher:Item.LatLong");
		string website = dealer.GetString("ItemPublisher:Item.Website");

		dealerCount++;
		string currentLongLat = "";
		if(!String.IsNullOrEmpty(lat) && lat != "0" &&  !String.IsNullOrEmpty(lng) && lng != "0") {
			currentLongLat =  lat+","+ lng;
			//currentLongLat =  String.Format( "{0:#,##0.##}", lat)+","+ String.Format( "{0:#,##0.##}", lng);
		}
		if( !String.IsNullOrEmpty(latlong) ) {
			currentLongLat = latlong;
		}
		@*	if (String.IsNullOrEmpty( currentLongLat ) ) {
			string newLonglat = "54,10";
			
			var currentAddress = "";
			if (!String.IsNullOrEmpty(dealer.GetString("Adresse"))) {
				currentAddress += dealer.GetString("Adresse") + " ";
			}
			if (!String.IsNullOrEmpty(dealer.GetString("Postnummer"))) {
				currentAddress += dealer.GetString("Postnummer") + " ";
			}
			if (!String.IsNullOrEmpty(dealer.GetString("By"))) {
				currentAddress += dealer.GetString("By") + " ";
			}
			var requestUri = string.Format("http://maps.googleapis.com/maps/api/geocode/xml?address={0}&sensor=false", Uri.EscapeDataString(currentAddress));

			var request = WebRequest.Create(requestUri);
			var response = request.GetResponse();
			var xdoc = XDocument.Load(response.GetResponseStream());

			var result = xdoc.Element("GeocodeResponse").Element("result");
			if (result != null) {
				var locationElement = result.Element("geometry").Element("location");
				lat = (string)locationElement.Element("lat");
				lng = (string)locationElement.Element("lng");
				
				newLonglat = lat +","+lng;
				
				var content = ApplicationContext.Current.Services.ContentService.GetById(dealer.Id);
				if (content.HasProperty("longlat")) {
					content.SetValue("longlat", newLonglat.ToString());
				}
				ApplicationContext.Current.Services.ContentService.SaveAndPublish(content);
				
				currentLongLat = newLonglat;
			}


		} *@
		if (!String.IsNullOrEmpty( currentLongLat ) ) {
			<text>
			var dealer@(dealerCount) = new google.maps.Marker({
		        position: new google.maps.LatLng(@(currentLongLat)),
		        title: '@dealer.GetString("Navn")',
		        animation: google.maps.Animation.DROP,
		        map: map,
		        icon: image
		    });
		    var dealerContent@(dealerCount) = '<div class="dealer">'+
			'<h4>@dealer.GetString("ItemPublisher:Item.Navn.Value")</h4>'+
				'<p>@dealer.GetString("ItemPublisher:Item.Adresse.Value").Replace(Environment.NewLine, "<br/>").Replace("'", "")<br>@dealer.GetString("ItemPublisher:Item.Postnummer.Value") @dealer.GetString("ItemPublisher:Item.By.Value")</p>'+
				'<p class="contact"><b>Tlf.: <a href="mailto:@dealer.GetString("ItemPublisher:Item.Telefon.Value")">@dealer.GetString("ItemPublisher:Item.Telefon.Value")</a><br/>'+
					'Mail: <a href="mailto:@dealer.GetString("ItemPublisher:Item.Mail.Value")">@dealer.GetString("ItemPublisher:Item.Mail.Value")</a>'+
				'</b></p>'+
				@if(!String.IsNullOrEmpty(website)) { <text>'<p class="link"><a href="@website" target="_blank">Til Website</a></p>'+</text> }
			'</div>';

		    dealer@(dealerCount).addListener('click', function() {
		  		map.setCenter( dealer@(dealerCount).getPosition() );
		    	map.setZoom(12);
		    	infowindow.setContent( dealerContent@(dealerCount) );
		    	infowindow.open(map, dealer@(dealerCount));
			});
		    Lokationer.push(dealer@(dealerCount));
		    bounds.extend(dealer@(dealerCount).position);
		    </text>
		}
	}


}
	map.fitBounds(bounds);
//	map.panBy(-200,0);


	

};


function compareDistances(loc){	
	var distances = [];
	//use geometry.spherical to calculate the distances between pairs of lat/lng coordinates
	for(var j = 0; j < Lokationer.length; j++){
		distances.push({distance:google.maps.geometry.spherical.computeDistanceBetween(loc, Lokationer[j]), marker: j+1});
	}
	//reorder the distances, shortest first, closest will then be distances[0] and distances[1]
	distances.sort(function(a,b) {
		return a.distance - b.distance;
	}); 
	setLocation(distances[0].marker);
}

function errorHandler(err) {
  if(err.code == 1) {
    console.error("Fejl: Positionering ikke tiladt");
  } else if( err.code == 2) {
    console.error("Fejl: Position ikke tilgÃ¦ngelig");
  }
}

//google.maps.event.addDomListener(window, 'load', init);
</script>
<script type="text/javascript" async defer src="
https://maps.googleapis.com/maps/api/js?key=AIzaSyDJtPEIbXSF9t8F6sOKL60Dkf9mtWnTvDU&callback=initMap"></script>