@{
	string linkClass = "col-xs-12";
	int loopCount = GetLoop("ItemPublisher:Items.List").Count();
	if (loopCount % 2 == 0){
		linkClass = "col-xs-12 col-md-6";
	}
	if (loopCount % 3 == 0){
		linkClass = "col-xs-12 col-md-4";
	}
	if (loopCount % 5 == 0){
		linkClass = "col-xs-12 col-md-5";
	}



}



<section class="links">
	<div class="container-fluid">
		<div class="row">
@foreach(LoopItem link in GetLoop("ItemPublisher:Items.List")) {
	string linkhref = link.GetString("ItemPublisher:Item.Link.Value");
	string target = link.GetString("ItemPublisher:Item.Target.Value");
	string linktext = "Se mere"; 
	if (!String.IsNullOrEmpty( link.GetString("ItemPublisher:Item.Linktext.Value")) ){
		linktext = link.GetString("ItemPublisher:Item.Linktext.Value");
	}
	string title = link.GetString("ItemPublisher:Item.Titel.Value");
	string image = link.GetString("ItemPublisher:Item.Billede.Value");

			<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(link.Values)));</script>
	<div class="link @linkClass @if(!String.IsNullOrEmpty( image )){<text> has-image</text>}
" style="background-image:url('@image');">
		<div class="content">
			@if(!String.IsNullOrEmpty( title ) ){
				<h2>@title</h2>
			}
			<a href="@linkhref" class="btn btn-transparent" target="@target">@linktext</a>
		</div>
	</div>
}	
		</div>
	</div>
</section>