@using System.Net
@using System.Xml.Linq
@{

	var employees = GetLoop("ItemPublisher:Items.List");

}
<section class="employee-list">
	
@*	<header>
		<h1>Medarbejdere</h1>
	</header> *@

	<div class="container">
		<div class="row">
		@foreach(LoopItem employee in employees) {
			string name 	= employee.GetString("ItemPublisher:Item.Navn.Value");
			string title 	= employee.GetString("ItemPublisher:Item.Titel.Value");
			string phone 	= employee.GetString("ItemPublisher:Item.Telefon.Value");
			string mail 	= employee.GetString("ItemPublisher:Item.Mail.Value");
			string img 		= employee.GetString("ItemPublisher:Item.Billede.Value");
			string imgAlt 	= employee.GetString("ItemPublisher:Item.BilledeAlt.Value");
			<div class="employee col-xs-12 col-sm-6 col-md-4 col-lg-3">
				<div class="img-wrapper row">
					@if(!String.IsNullOrEmpty(img)) {
					<img src="/Admin/Public/GetImage.ashx?Image=@img&Format=jpg&Width=400&Height=400&Crop=0" class="img-responsive" />
					}
					@if(!String.IsNullOrEmpty(imgAlt)) {
					<div class="alt-img" style="background-image:url('/Admin/Public/GetImage.ashx?Image=@imgAlt&Format=jpg&Width=400&Height=400&Crop=0')"></div>
					}
				</div>
				<h4>@name</h4>
				<p class="title">@title</p>
				<p class="phone"><a href='tel:@phone'>@phone</a></p>
				<p class="mail"><a href='mailto:@mail'>@mail</a></p>
			</div>
		}
		</div>
	</div>

</section>