@{
	int refIndex = 0;
}
<section class="reference-list text-dark">

	<header>
		<h1>Referencer</h1>
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class="container">
				<div class="row">
		@foreach(LoopItem i in GetLoop("ItemPublisher:Items.List")) {
			refIndex++;
			string image = i.GetString("ItemPublisher:Item.Billeder.Value");
			string[] images = image.Split(',');
			string imgUrl = "/admin/public/getimage.ashx?Image="+images[0]+"&Format=jpg&Width=400&Height=300";
			string description = i.GetString("ItemPublisher:Item.Beskrivelse.Value");
			if (description.Length >= 50) {
				description = description.Substring(0,50)+"...";
			}
			if (refIndex % 2 != 0) {
				@:<text></div></div></div><div class="row"><div class="container"><div class="row"></text>
			}

			<div class="reference col-xs-12 col-md-6">
				<img src="@imgUrl" class="img-responsive" />
				<h3>@i.GetString("ItemPublisher:Item.Titel.Value")</h3>
				<p>@description</p>
				<a class="readmore" href='@i.GetString("ItemPublisher:Item.Url")'>Læs mere</a>
			</div>
		}
				</div>
			</div>
		</div>
	</div>

</section>