@using System.Web.Script.Serialization;
@using Newtonsoft.Json;
@using System.Text.RegularExpressions;
@using System.Linq;

@functions {

	class VariantGroup {
		public string GroupID { get; set; }
		public string GroupDescription { get; set; }
		public Dictionary<string, string> Variants { get; set; }

		public VariantGroup() {
			this.Variants = new Dictionary<string,string>();
		}
	}

}

@{
	var variantSpecs = GetLoop("ItemPublisher:Items.List"); 
	
	List<VariantGroup> specObject = new List<VariantGroup>();

	foreach (LoopItem variantSpec in variantSpecs) {
		string groupId = Regex.Replace(variantSpec.GetString("ItemPublisher:Item.Gruppe.Value").ToLower(), "[^0-9a-zA-Z]+", ""); 
		string groupDesc = variantSpec.GetString("ItemPublisher:Item.Beskrivelse.Value").Replace(Environment.NewLine,"<br>");

		if( specObject.Where(x => x.GroupID.Equals(groupId)).Count() <= 0 )
		{
			specObject.Add( new VariantGroup() { GroupID = groupId, GroupDescription = groupDesc } );
		}
		

		foreach ( LoopItem variantSpecItem in variantSpec.GetLoop("ItemPublisher:Item.Variationer")) {
			
			specObject.Where( x => x.GroupID.Equals(groupId) ).First().Variants.Add(variantSpecItem.GetString("ItemPublisher:Item.Variationer.Navn.Value"),variantSpecItem.GetString("ItemPublisher:Item.Variationer.Billede.Value"));

		} 


@*		<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(variantSpec.Values)));</script>*@


	}
}
<script>var variationsJson = @JsonConvert.SerializeObject(specObject)</script>
