<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Values)));</script>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
			<form action='@GetGlobalValue("Global:Pageview.Url.Raw")' method="get" name="SearchForm1">
				<input type="hidden" name="ID" value='@GetString("DwPageID")'>
				<input type="text" class="form-control" name="q" value='@GetString("DwSearchPhrase")' />
				<div class="text-center">
					<br>
					<input type="submit" value="Søg" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
</div>