<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-6 col-md-push-3 text-center">
			<br/>
			<p>Din søgning efter '@GetString("DwSearchPhrase")' gav @GetString("DwSearchResults") resultater.
				@if(GetInteger("DwSearchResultPages") > 1) {
				<text>Viser side @GetString("DwSearchResultPage") af @GetString("DwSearchResultPages").</text>
				}
			</p>
			@GetString("DwSearchResultList")
		</div>
	</div>
</div>

<div>@GetString("DwSearchResultBack")&nbsp;&nbsp;@GetString("DwSearchResultPageList")&nbsp;&nbsp;@GetString("DwSearchResultForward")</div>

