@{
	string href = GetString("DwSearchResultHref").Replace("Default.aspx?ID=Default.aspx?Id=","Default.aspx?ID=");
}
<div class="search-result">
	<a href='@href'>
		<h4>@GetString("DwSearchResultTitleNoHightlight")</h4>
		<p>@GetString("DwSearchResultSummaryNoHighlight")</p>
	</a>
	<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Values)));</script>
</div>