﻿@{
	string sectionStyle = "";
	string sectionClass = "";

	string header = GetString("Item.Overskrift.Value");
	string description = GetString("ParagraphText");
	string textColor = GetString("Item.Tekstfarve.Value");
	string backColor = GetString("Item.Baggrundsfarve.Value");

	if (String.IsNullOrEmpty(header)) {
		header = GetString("ParagraphHeader");
	}
	if (String.IsNullOrEmpty(description)) {
		description = GetString("Item.Beskrivelse.Value");
	}
	if (!String.IsNullOrEmpty(description)) {
		sectionClass += " header-clean";
	}
	if (!String.IsNullOrEmpty(textColor) && textColor != "#000000") {
		sectionStyle += "color:"+textColor+";";
	}
	if (!String.IsNullOrEmpty(backColor)) {
		sectionStyle += "background-color:"+backColor+";";
 		sectionStyle += "margin-top: -21px !important;";
	}
}

<section class="header@(sectionClass) kontaktside" style="@(sectionStyle)">
	<header>
	@if(GetBoolean("ParagraphContainerIsFirst")) {
		<h1>@header</h1>
	} else {
		<h2>@header</h2>
	}
		@description
	</header>
	@GetString("ParagraphModule")
</section>

