@{
	string link = GetString("Item.Link.Value");
	string linkText = "Læs mere";

	string sectionStyle 	= "";
	string sectionBgColor 	= GetString("Item.Baggrundsfarve.Value");
	string sectionBgImage 	= GetString("Item.Baggrundsbillede.Value");
	bool showBox 			= GetBoolean("Item.BaggrundsbilledeBox.Value");
	string sectionTextColor	= GetString("Item.Tekstfarve.Value");
	string logoUrl 			= GetString("Template:DesignBaseUrl")+"images/rumas_Logo_White.svg";

	
	if( !String.IsNullOrEmpty(GetString("Item.Linktekst.Value")) ) {
		linkText = GetString("Item.Linktekst.Value");
	};
	if(!String.IsNullOrEmpty(sectionBgImage) && !showBox ) {
		sectionStyle += "background-image:url("+sectionBgImage+");";
	}
	if(!String.IsNullOrEmpty(sectionBgColor)) {
		if (showBox) { 
			sectionStyle += "background-image: linear-gradient(to right, "+sectionBgColor+" 0%, "+sectionBgColor+" 40%, #fff 40%, #fff 100%);";
		} 
		sectionStyle += "background-color:"+sectionBgColor+";";
	}
	if(!String.IsNullOrEmpty(sectionTextColor)) {
		sectionStyle += "color:"+sectionTextColor+";";
	}
	if (sectionTextColor == "#000000") {
		logoUrl = GetString("Template:DesignBaseUrl")+"images/rumas_Logo_Black.svg";
	}


}
<section class="fullscreen" style="@sectionStyle">
	@if(showBox){
		<div class="img-box" style='background-image:url(@sectionBgImage);'></div>
	}
	<div class="content">
		<div class="container">
			@if(GetString("Item.VisLogo.Value") == "True") {
				<img src="@logoUrl" class="logo img-responsive" />
			}
			<h2>@GetString("Item.Overskrift.Value")</h2>
			@if(!String.IsNullOrEmpty(link)) {
			<a href="@link" class="btn btn-transparent">@linkText</a>
			}
		</div>
	</div>
	<div class="scroll-indicator">
		<p>SCROLL</p>
	</div>
@*	<script>console.log(@(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Values)));</script> *@
</section>
