﻿@using System.Web 
@using Dynamicweb.Ecommerce.Products;
@{
	var request = HttpContext.Current.Request;

	Product currentProduct = new Product();
//	string prodId = GetString("Server:Request.productid");
	string prodId = request["productid"];
	if (!String.IsNullOrEmpty( prodId )) {
		currentProduct = Product.GetProductById( prodId );	
@*		<pre>Product: @currentProduct.Name </pre> *@
	}
}

<!DOCTYPE html>
<html lang="da-DK">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>@GetValue("Title")</title>
@GetValue("MetaTags")
@GetValue("CopyRightNotice")


<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-I6JCnqxMbC2DuiHjsoCiLa15NVbKRf8/ooANRLsXD87zD2dVqzlz6Oqjvj470ztk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6235732/7008972/css/fonts.css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.css" media="screen">
<link href="/files/templates/designs/Rumas/css/lightbox.min.css" rel="stylesheet" media="screen">
<link href="/files/templates/designs/Rumas/css/main.css" rel="stylesheet" media="screen">
<link rel="icon" href="/files/templates/designs/Rumas/favicon.ico">


<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '203078166790846', {
em: 'insert_email_variable,'
});
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=203078166790846&ev=PageView&noscript=1"></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<!--- GA -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-57470169-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- End GA -->
<script src="http://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
@*<script src="/files/templates/designs/Rumas/js/flickity.pkgd.min.js"></script> *@
<script src="/files/templates/designs/Rumas/js/lightbox.min.js"></script>
<script src="/files/templates/designs/Rumas/js/main.js"></script>

@GetValue("Stylesheets")
@GetValue("Javascripts")
</head>
<body>

@if (GetInteger("DwAreaFirstActivePageID") != GetInteger("DwPageID")) {
<a class="mainlogo" href="/">
	<img class="mainlogo-white" src="/files/templates/designs/Rumas/images/rumas_Logo_White.svg">
	<img class="mainlogo-black" src="/files/templates/designs/Rumas/images/rumas_Logo_Black.svg">
</a>
}

<div class="mainheader">
	<form class="menu-search" action="/Default.aspx" method="GET">
		<input type="hidden" name="ID" value='26'>
		<input name="q" type="text" value='@request["q"]'>
		<i class="fa fa-search" aria-hidden="true"></i>
	</form>
	<a class="menu-phone visible-xs" href="tel:+4598181155">
		<i class="fa fa-phone" aria-hidden="true"></i>
	</a>
	<a class="menu-phone hidden-xs" href="Default.aspx?ID=24">			
		<i class="fa fa-envelope" aria-hidden="true"></i>
	</a>
	
	<div class="menu-toggle">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</div>
	<div class="">
		<a class="menu-contact hidden-xs" id="fixed-contact-form" href="#" onclick="showContactForm(event)">
			<i class="fa fa-envelope" aria-hidden="true"></i>
			<p>Skriv til os</p>
		</a>
		<a class="menu-contact visible-xs" href="tel:+4598181155">
			<i class="fa fa-phone" aria-hidden="true"></i>
		</a>
	</div>
</div>
@RenderParagraphContent(@GetInteger("Item.Area.ContactParagaph"))

@GetValue("Layout.Title(Title)")
@GetValue("Layout.Description(Description)")

<div id="sections">@GetValue("DwContent(sections)")</div>

<div id="variations" class="variations">@GetValue("DwContent(variations)")</div>


<footer>
@*	@GetValue("DwNavigation(footernav)")*@
	<ul class="navigation">
		<li>
			<a href="Default.aspx?ID=9&GroupID=GROUP3">Borde</a>
		</li>
		<li>
			<a href="Default.aspx?ID=9&GroupID=GROUP2">Opbevaring</a>
		</li>
		<li>
			<a href="Default.aspx?ID=9&GroupID=GROUP1">Siddem&oslash;bler</a>
		</li>
		<li>
			<a href="Default.aspx?ID=9&GroupID=GROUP4">Skranker</a>
		</li>
	</ul>
	
	<div class="social">
		<a href="https://www.facebook.com/Kontormoebler" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/company/rumas-kontorsm%C3%B8bler-a-s" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
		<a href="https://dk.pinterest.com/rumasdk/" target="_blank"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
		<a href="https://instagram.com/rumasdk/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	</div>

	<a href="/">
		<img class="logo" src="/files/templates/designs/Rumas/images/rumas_Logo_Black.svg">
	</a>
	@GetString("Item.Area.Adresse.Value")

<hr>
<p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> Rumas A/S. All rights reserved.
</footer>

<div class="nav-dropdown">
	<a href="/">
		<img class="logo" src="/files/templates/designs/Rumas/images/rumas_Logo_White.svg">
	</a>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<div class="breadcrumb">
					<a href="/">Forside</a> 
					@if(!String.IsNullOrEmpty(GetString("DwPageID_1"))) {
					<text>/ <a href='/Default.aspx?ID=@GetString("DwPageID_1")'>@GetString("DwPageName_1")</a></text>
					}
					@if(!String.IsNullOrEmpty(GetString("DwPageID_2"))) {
					<text>/ <a href='/Default.aspx?ID=@GetString("DwPageID_2")'>@GetString("DwPageName_2")</a></text>
					}
					@if(!String.IsNullOrEmpty( currentProduct.Name )) {
					<text>/ <a href='/Default.aspx?ID=@(GetString("DwPageID"))&ProductId=@currentProduct.IdUrlEncoded'>@currentProduct.Name</a></text>
					}
				</div>

				<div class="nav-wrapper">
					<div class="row">
						<div class="col-xs-12">
							@GetValue("DwNavigation(mainnav)")
						</div>
					@*	<div class="hidden-xs hidden-sm col-md-2 text-right">
							<a href="#">
								<img src="/files/templates/designs/Rumas/images/nav-catalog.png">
							</a>
						</div> *@
					</div>
				</div>
			</div>
		</div>
		<div class="row prodgroup-nav">
			<div class="prodgroup col-xs-6 col-sm-3">
				<a href="Default.aspx?ID=9&GroupID=GROUP3">
					<div class="img-wrapper">
						<img src="/files/templates/designs/Rumas/images/nav-table-v2.png">
					</div>
					<h4>Borde</h4>
				</a>
			</div>
			<div class="prodgroup col-xs-6 col-sm-3">
				<a href="Default.aspx?ID=9&GroupID=GROUP2">
					<div class="img-wrapper">
						<img src="/files/templates/designs/Rumas/images/nav-cabinet-v2.png">
					</div>
					<h4>Opbevaring</h4>
				</a>
			</div>
			<div class="prodgroup col-xs-6 col-sm-3">
				<a href="Default.aspx?ID=9&GroupID=GROUP1">
					<div class="img-wrapper">
						<img src="/files/templates/designs/Rumas/images/nav-stol.png">
					</div>
					<h4>Siddem&oslash;bler</h4>
				</a>
			</div>
			<div class="prodgroup col-xs-6 col-sm-3">
				<a href="Default.aspx?ID=9&GroupID=GROUP4">
					<div class="img-wrapper">
						<img src="/files/templates/designs/Rumas/images/nav-skrank.png">
					</div>
					<h4>Skranker</h4>
				</a>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">

				<div class="nav-wrapper prodnav-wrapper">
					<div class="row">
						<div class="col-xs-12">
							@GetValue("DwNavigation(prodnav)")</div>
					</div>
				</div>
			
			</div>
		</div>
		<div class="row">

			<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
				<div class="text-center">
					<p><a href="/"><b>Rumas</b></a></p>
					@GetString("Item.Area.Adresse.Value")
				</div>
				<div class="social text-center">
					<a href="https://www.facebook.com/Kontormoebler" target="_blank" class="external"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="https://www.linkedin.com/company/rumas-kontorsm%C3%B8bler-a-s" target="_blank" class="external"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
					<a href="https://dk.pinterest.com/rumasdk/" target="_blank" class="external"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
					<a href="https://instagram.com/rumasdk/" target="_blank" class="external"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="nav-overlay"></div>





<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T49VZN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> 
<script type="text/javascript">
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T49VZN');
</script>

<script type="text/javascript">
	$(document).on('submit', 'form', function(e) {
	     $.ajax({
	        url: $(this).attr('action'),
	        type: $(this).attr('method'),
	        data: $(this).serialize(),
	        success: function(html) {	        	
	        	$('form').addClass('hide');
	        	$('.receiptmessage').removeClass('hide');
	        }
	    });
	    e.preventDefault();
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
	  $('a.external').attr('target', '_blank');
	});
</script>
  
 <script type='text/javascript'>
    document.addEventListener( 'wpcf7mailsent', function( event ) {
            ga( 'send', 'pageview', 'Kontaktform - ' + window.location.pathname );
    }, false );
</script>  
  
  <script type="text/javascript">
    $(document).ready(function() {
    	var page = window.location.pathname;
        if(page == '/' || page == '/default.aspx'){
           var contactForm = document.getElementById("fixed-contact-form");
			setTimeout(function(){
    			contactForm.className += ' hover_trigger';
    		}, 2000);
 
    		setTimeout(function(){ 
    			contactForm.classList.remove('hover_trigger'); 
    		}, 5000);
        } 
    })
  </script>

</body>
</html>